openapi: 3.1.0
info:
  title: agentsfleet Control Plane API
  version: 1.0.0
  description: API for managing workspaces, fleets, triggers, and runs.
  contact:
    name: agentsfleet
    url: https://agentsfleet.net
servers:
- url: https://api.agentsfleet.net
  description: Production
security:
- BearerAuth: []
tags:
- name: Health
  description: System status and readiness probes
  x-mintlify:
    navigation: Health
- name: Authentication
  description: Command Line Interface (CLI) sign-in sessions and GitHub sign-in
  x-mintlify:
    navigation: Authentication
- name: Workspaces
  description: Create and manage workspaces
  x-mintlify:
    navigation: Workspaces
- name: Tenant
  description: Manage tenant provider settings and models
  x-mintlify:
    navigation: Tenant
- name: auth-identity-events
  description: Process signed account events from Clerk. This route is not for customer fleets.
  x-mintlify:
    navigation: Auth Identity Events
- name: Fleets
  description: Create, configure, and run fleets
  x-mintlify:
    navigation: Fleets
- name: Memory
  description: Read and search saved fleet memory
  x-mintlify:
    navigation: Memory
- name: Secrets
  description: Manage named secrets for fleets in a workspace
  x-mintlify:
    navigation: Secrets
- name: Admin
  description: Manage shared provider keys and models
  x-mintlify:
    navigation: Admin
- name: Billing
  description: Read tenant balances and charge records
  x-mintlify:
    navigation: Billing
- name: Integration Grants
  description: Manage fleet access to third-party services
  x-mintlify:
    navigation: Integration Grants
- name: Connectors
  description: Connect workspaces to third-party providers
  x-mintlify:
    navigation: Connectors
- name: Fleet Keys
  description: Manage keys that let external clients call a fleet
  x-mintlify:
    navigation: Fleet Keys
- name: API Keys
  description: Manage tenant admin API keys
  x-mintlify:
    navigation: API Keys
- name: Webhooks
  description: Receive signed events and approval decisions
  x-mintlify:
    navigation: Webhooks
- name: Approvals
  description: List, inspect, and resolve pending approvals
  x-mintlify:
    navigation: Approvals
- name: Fleet
  description: Enroll and manage runners
  x-mintlify:
    navigation: Fleet
- name: Fleet Bundles
  description: Manage fleet source bundles in a workspace
  x-mintlify:
    navigation: Fleet Bundles
- name: Fleet library
  description: Browse and add reusable fleet sources
  x-mintlify:
    navigation: Fleet library
- name: Model Library
  description: List models available to the tenant
  x-mintlify:
    navigation: Model Library
paths:
  /healthz:
    $ref: ./paths/health.yaml#/~1healthz
  /metrics:
    $ref: ./paths/health.yaml#/~1metrics
  /readyz:
    $ref: ./paths/health.yaml#/~1readyz
  /v1/admin/platform-keys:
    $ref: ./paths/admin.yaml#/~1v1~1admin~1platform-keys
  /v1/admin/platform-keys/{provider}:
    $ref: ./paths/admin.yaml#/~1v1~1admin~1platform-keys~1{provider}
  /v1/admin/models:
    $ref: ./paths/admin-models.yaml#/~1v1~1admin~1models
  /v1/admin/models/{uid}:
    $ref: ./paths/admin-models.yaml#/~1v1~1admin~1models~1{uid}
  /v1/auth/sessions:
    $ref: ./paths/authentication.yaml#/~1v1~1auth~1sessions
  /v1/auth/sessions/{session_id}:
    $ref: ./paths/authentication.yaml#/~1v1~1auth~1sessions~1{session_id}
  /v1/auth/sessions/{session_id}/approve:
    $ref: ./paths/auth-session-exchange.yaml#/~1v1~1auth~1sessions~1{session_id}~1approve
  /v1/auth/sessions/{session_id}/verify:
    $ref: ./paths/auth-session-exchange.yaml#/~1v1~1auth~1sessions~1{session_id}~1verify
  /v1/auth/sessions/all:
    $ref: ./paths/authentication.yaml#/~1v1~1auth~1sessions~1all
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/memories:
    $ref: ./paths/memory.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1memories
  /v1/auth/identity-events/clerk:
    $ref: ./paths/auth/identity-events.yaml#/~1v1~1auth~1identity-events~1clerk
  /v1/ingress/{provider}:
    $ref: ./paths/webhooks.yaml#/~1v1~1ingress~1{provider}
  /v1/webhooks/svix/{fleet_id}:
    $ref: ./paths/webhooks.yaml#/~1v1~1webhooks~1svix~1{fleet_id}
  /v1/webhooks/{fleet_id}:
    $ref: ./paths/fleets.yaml#/~1v1~1webhooks~1{fleet_id}
  /v1/webhooks/{fleet_id}/approval:
    $ref: ./paths/webhooks.yaml#/~1v1~1webhooks~1{fleet_id}~1approval
  /v1/webhooks/{fleet_id}/grant-approval:
    $ref: ./paths/webhooks.yaml#/~1v1~1webhooks~1{fleet_id}~1grant-approval
  /v1/webhooks/{fleet_id}/github:
    $ref: ./paths/webhooks.yaml#/~1v1~1webhooks~1{fleet_id}~1github
  /v1/workspaces/{workspace_id}/connectors:
    $ref: ./paths/connectors.yaml#/~1v1~1workspaces~1{workspace_id}~1connectors
  /v1/workspaces/{workspace_id}/connectors/{provider}/connect:
    $ref: ./paths/connectors.yaml#/~1v1~1workspaces~1{workspace_id}~1connectors~1{provider}~1connect
  /v1/workspaces/{workspace_id}/connectors/{provider}:
    $ref: ./paths/connectors.yaml#/~1v1~1workspaces~1{workspace_id}~1connectors~1{provider}
  /v1/connectors/{provider}/callback:
    $ref: ./paths/connectors.yaml#/~1v1~1connectors~1{provider}~1callback
  /v1/connectors/slack/events:
    $ref: ./paths/connectors.yaml#/~1v1~1connectors~1slack~1events
  /v1/workspaces:
    $ref: ./paths/workspaces.yaml#/~1v1~1workspaces
  /v1/tenants/me/billing:
    $ref: ./paths/billing.yaml#/~1v1~1tenants~1me~1billing
  /v1/tenants/me/billing/charges:
    $ref: ./paths/billing.yaml#/~1v1~1tenants~1me~1billing~1charges
  /v1/tenants/me/billing/charges/{event_id}/telemetry:
    $ref: ./paths/billing.yaml#/~1v1~1tenants~1me~1billing~1charges~1{event_id}~1telemetry
  /v1/tenants/me/workspaces:
    $ref: ./paths/tenant-workspaces.yaml#/~1v1~1tenants~1me~1workspaces
  /v1/tenants/me/provider:
    $ref: ./paths/tenant-provider.yaml#/~1v1~1tenants~1me~1provider
  /v1/tenants/me/models:
    $ref: ./paths/tenant-models.yaml#/~1v1~1tenants~1me~1models
  /v1/tenants/me/models/{id}:
    $ref: ./paths/tenant-models.yaml#/~1v1~1tenants~1me~1models~1{id}
  /v1/workspaces/{workspace_id}/secrets:
    $ref: ./paths/secrets.yaml#/~1v1~1workspaces~1{workspace_id}~1secrets
  /v1/workspaces/{workspace_id}/secrets/{secret_name}:
    $ref: ./paths/secrets.yaml#/~1v1~1workspaces~1{workspace_id}~1secrets~1{secret_name}
  /v1/api-keys:
    $ref: ./paths/api-keys.yaml#/~1v1~1api-keys
  /v1/api-keys/{id}:
    $ref: ./paths/api-keys.yaml#/~1v1~1api-keys~1{id}
  /v1/workspaces/{workspace_id}/fleet-keys:
    $ref: ./paths/fleet-keys.yaml#/~1v1~1workspaces~1{workspace_id}~1fleet-keys
  /v1/workspaces/{workspace_id}/fleet-keys/{fleet_key_id}:
    $ref: ./paths/fleet-keys.yaml#/~1v1~1workspaces~1{workspace_id}~1fleet-keys~1{fleet_key_id}
  /v1/workspaces/{workspace_id}/fleets:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets
  /v1/fleets/bundles:
    $ref: ./paths/fleet-bundles.yaml#/~1v1~1fleets~1bundles
  /v1/admin/fleet-libraries:
    $ref: ./paths/fleet-library.yaml#/~1v1~1admin~1fleet-libraries
  /v1/admin/fleet-libraries/{id}:
    $ref: ./paths/fleet-library.yaml#/~1v1~1admin~1fleet-libraries~1{id}
  /v1/workspaces/{workspace_id}/fleet-libraries:
    $ref: ./paths/fleet-library.yaml#/~1v1~1workspaces~1{workspace_id}~1fleet-libraries
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/integration-grants:
    $ref: ./paths/integration-grants.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1integration-grants
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/integration-grants/{grant_id}:
    $ref: ./paths/integration-grants.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1integration-grants~1{grant_id}
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/integration-requests:
    $ref: ./paths/integration-grants.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1integration-requests
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/messages:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1messages
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/events:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1events
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/events/stream:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1events~1stream
  /v1/workspaces/{workspace_id}/events:
    $ref: ./paths/workspaces.yaml#/~1v1~1workspaces~1{workspace_id}~1events
  /v1/workspaces/{workspace_id}/events/stream:
    $ref: ./paths/workspaces.yaml#/~1v1~1workspaces~1{workspace_id}~1events~1stream
  /v1/workspaces/{workspace_id}/approvals:
    $ref: ./paths/approvals.yaml#/~1v1~1workspaces~1{workspace_id}~1approvals
  /v1/workspaces/{workspace_id}/approvals/{gate_id}:
    $ref: ./paths/approvals.yaml#/~1v1~1workspaces~1{workspace_id}~1approvals~1{gate_id}
  /v1/workspaces/{workspace_id}/approvals/{gate_id}:approve:
    $ref: ./paths/approvals.yaml#/~1v1~1workspaces~1{workspace_id}~1approvals~1{gate_id}:approve
  /v1/workspaces/{workspace_id}/approvals/{gate_id}:deny:
    $ref: ./paths/approvals.yaml#/~1v1~1workspaces~1{workspace_id}~1approvals~1{gate_id}:deny
  /v1/runners:
    $ref: ./paths/fleet.yaml#/~1v1~1runners
  /v1/fleets/runners:
    $ref: ./paths/fleet.yaml#/~1v1~1fleets~1runners
  /v1/fleets/runners/{id}:
    $ref: ./paths/fleet.yaml#/~1v1~1fleets~1runners~1{id}
  /v1/fleets/runners/{id}/events:
    $ref: ./paths/fleet.yaml#/~1v1~1fleets~1runners~1{id}~1events
  /v1/models:
    $ref: ./paths/models.yaml#/~1v1~1models
components:
  securitySchemes:
    $ref: ./components/security.yaml#/components/securitySchemes
  responses:
    $ref: ./components/responses.yaml#/components/responses
  schemas:
    $ref: ./components/schemas.yaml#/components/schemas
