openapi: 3.1.0
info:
  title: agentsfleet Control Plane API
  version: 1.0.0
  description: Fleet automation control plane — webhook-driven fleet execution in a bwrap+landlock sandbox.
  contact:
    name: agentsfleet
    url: https://agentsfleet.net
servers:
- url: https://api.agentsfleet.net
  description: Production
security:
- BearerAuth: []
tags:
- name: Health
  description: System status and readiness probes
  x-mintlify:
    navigation: Health
- name: Authentication
  description: CLI login flow via device-code style sessions and GitHub OAuth
  x-mintlify:
    navigation: Authentication
- name: Workspaces
  description: Create and manage workspaces (one workspace per repo)
  x-mintlify:
    navigation: Workspaces
- name: Tenant
  description: Tenant-scoped surfaces — provider posture and tenant-level configuration
  x-mintlify:
    navigation: Tenant
- name: auth-identity-events
  description: Internal auth-plane identity-lifecycle events (Clerk `user.created`, future identity-provider hooks). Not for customer fleets.
  x-mintlify:
    navigation: Auth Identity Events
- name: Fleets
  description: Fleet management and webhook ingestion — create, configure, and operate event-driven fleets
  x-mintlify:
    navigation: Fleets
- name: Memory
  description: Persistent Fleet memory — list and search key-value entries scoped to a Fleet (read-only; entries are written by the runner plane, not this API)
  x-mintlify:
    navigation: Memory
- name: Credentials
  description: self-managed (Bring Your Own Key) LLM provider credentials
  x-mintlify:
    navigation: Credentials
- name: Admin
  description: Platform-wide configuration — manage shared LLM provider keys
  x-mintlify:
    navigation: Admin
- name: Billing
  description: Plan upgrades and billing events
  x-mintlify:
    navigation: Billing
- name: Integration Grants
  description: Fleet runtime permission grants for third-party services (Slack, GitHub, etc.)
  x-mintlify:
    navigation: Integration Grants
- name: Connectors
  description: Workspace connectors — auth + credential plumbing for third-party providers. One generic `{provider}` route
    set serves every provider in the deployment's connector registry; unknown providers are 404.
  x-mintlify:
    navigation: Connectors
- name: Fleet Keys
  description: Per-Fleet API keys for LangGraph/CrewAI/Composio Fleets to call the execute endpoint. Workspace-scoped.
  x-mintlify:
    navigation: Fleet Keys
- name: API Keys
  description: Tenant-level admin API keys (`agt_t` prefix). Rotatable, self-service, replace the legacy `API_KEY` env var
    for admin auth.
  x-mintlify:
    navigation: API Keys
- name: Webhooks
  description: Approval-gate webhooks invoked by humans to unblock a paused fleet
  x-mintlify:
    navigation: Webhooks
- name: Approvals
  description: Approval-gate inbox — list, inspect, and resolve pending gates from the dashboard or programmatically.
  x-mintlify:
    navigation: Approvals
- name: Fleet
  description: Runner fleet operator plane — enroll, list, and administer sandbox runners. Operator/admin-scoped.
  x-mintlify:
    navigation: Fleet
- name: Fleet Bundles
  description: Workspace-scoped fleet source bundles imported from templates, uploads, or GitHub.
  x-mintlify:
    navigation: Fleet Bundles
- name: Fleet Templates
  description: Two-tier Fleet template catalog — platform-wide and tenant-scoped onboarding from a GitHub source, stored once in object storage by content hash.
  x-mintlify:
    navigation: Fleet Templates
- name: Model Catalogue
  description: Public model→capability catalogue consumed at provisioning time.
  x-mintlify:
    navigation: Model Catalogue
paths:
  /healthz:
    $ref: ./paths/health.yaml#/~1healthz
  /metrics:
    $ref: ./paths/health.yaml#/~1metrics
  /readyz:
    $ref: ./paths/health.yaml#/~1readyz
  /v1/admin/platform-keys:
    $ref: ./paths/admin.yaml#/~1v1~1admin~1platform-keys
  /v1/admin/platform-keys/{provider}:
    $ref: ./paths/admin.yaml#/~1v1~1admin~1platform-keys~1{provider}
  /v1/auth/sessions:
    $ref: ./paths/authentication.yaml#/~1v1~1auth~1sessions
  /v1/auth/sessions/{session_id}:
    $ref: ./paths/authentication.yaml#/~1v1~1auth~1sessions~1{session_id}
  /v1/auth/sessions/{session_id}/approve:
    $ref: ./paths/auth-session-exchange.yaml#/~1v1~1auth~1sessions~1{session_id}~1approve
  /v1/auth/sessions/{session_id}/verify:
    $ref: ./paths/auth-session-exchange.yaml#/~1v1~1auth~1sessions~1{session_id}~1verify
  /v1/auth/sessions/all:
    $ref: ./paths/authentication.yaml#/~1v1~1auth~1sessions~1all
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/memories:
    $ref: ./paths/memory.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1memories
  /v1/auth/identity-events/clerk:
    $ref: ./paths/auth/identity-events.yaml#/~1v1~1auth~1identity-events~1clerk
  /v1/webhooks/svix/{fleet_id}:
    $ref: ./paths/webhooks.yaml#/~1v1~1webhooks~1svix~1{fleet_id}
  /v1/webhooks/{fleet_id}:
    $ref: ./paths/fleets.yaml#/~1v1~1webhooks~1{fleet_id}
  /v1/webhooks/{fleet_id}/approval:
    $ref: ./paths/webhooks.yaml#/~1v1~1webhooks~1{fleet_id}~1approval
  /v1/webhooks/{fleet_id}/grant-approval:
    $ref: ./paths/webhooks.yaml#/~1v1~1webhooks~1{fleet_id}~1grant-approval
  /v1/webhooks/{fleet_id}/github:
    $ref: ./paths/webhooks.yaml#/~1v1~1webhooks~1{fleet_id}~1github
  /v1/workspaces/{workspace_id}/connectors/{provider}/connect:
    $ref: ./paths/connectors.yaml#/~1v1~1workspaces~1{workspace_id}~1connectors~1{provider}~1connect
  /v1/workspaces/{workspace_id}/connectors/{provider}:
    $ref: ./paths/connectors.yaml#/~1v1~1workspaces~1{workspace_id}~1connectors~1{provider}
  /v1/connectors/{provider}/callback:
    $ref: ./paths/connectors.yaml#/~1v1~1connectors~1{provider}~1callback
  /v1/connectors/slack/events:
    $ref: ./paths/connectors.yaml#/~1v1~1connectors~1slack~1events
  /v1/workspaces:
    $ref: ./paths/workspaces.yaml#/~1v1~1workspaces
  /v1/tenants/me/billing:
    $ref: ./paths/billing.yaml#/~1v1~1tenants~1me~1billing
  /v1/tenants/me/billing/charges:
    $ref: ./paths/billing.yaml#/~1v1~1tenants~1me~1billing~1charges
  /v1/tenants/me/billing/charges/{event_id}/telemetry:
    $ref: ./paths/billing.yaml#/~1v1~1tenants~1me~1billing~1charges~1{event_id}~1telemetry
  /v1/tenants/me/workspaces:
    $ref: ./paths/tenant-workspaces.yaml#/~1v1~1tenants~1me~1workspaces
  /v1/tenants/me/provider:
    $ref: ./paths/tenant-provider.yaml#/~1v1~1tenants~1me~1provider
  /v1/workspaces/{workspace_id}/credentials:
    $ref: ./paths/credentials.yaml#/~1v1~1workspaces~1{workspace_id}~1credentials
  /v1/workspaces/{workspace_id}/credentials/{credential_name}:
    $ref: ./paths/credentials.yaml#/~1v1~1workspaces~1{workspace_id}~1credentials~1{credential_name}
  /v1/api-keys:
    $ref: ./paths/api-keys.yaml#/~1v1~1api-keys
  /v1/api-keys/{id}:
    $ref: ./paths/api-keys.yaml#/~1v1~1api-keys~1{id}
  /v1/workspaces/{workspace_id}/fleet-keys:
    $ref: ./paths/fleet-keys.yaml#/~1v1~1workspaces~1{workspace_id}~1fleet-keys
  /v1/workspaces/{workspace_id}/fleet-keys/{fleet_key_id}:
    $ref: ./paths/fleet-keys.yaml#/~1v1~1workspaces~1{workspace_id}~1fleet-keys~1{fleet_key_id}
  /v1/workspaces/{workspace_id}/fleets:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets
  /v1/fleets/bundles:
    $ref: ./paths/fleet-bundles.yaml#/~1v1~1fleets~1bundles
  /v1/admin/fleet-templates:
    $ref: ./paths/fleet-templates.yaml#/~1v1~1admin~1fleet-templates
  /v1/workspaces/{workspace_id}/fleet-templates:
    $ref: ./paths/fleet-templates.yaml#/~1v1~1workspaces~1{workspace_id}~1fleet-templates
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/integration-grants:
    $ref: ./paths/integration-grants.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1integration-grants
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/integration-grants/{grant_id}:
    $ref: ./paths/integration-grants.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1integration-grants~1{grant_id}
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/integration-requests:
    $ref: ./paths/integration-grants.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1integration-requests
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/messages:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1messages
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/events:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1events
  /v1/workspaces/{workspace_id}/fleets/{fleet_id}/events/stream:
    $ref: ./paths/fleets.yaml#/~1v1~1workspaces~1{workspace_id}~1fleets~1{fleet_id}~1events~1stream
  /v1/workspaces/{workspace_id}/events:
    $ref: ./paths/workspaces.yaml#/~1v1~1workspaces~1{workspace_id}~1events
  /v1/workspaces/{workspace_id}/approvals:
    $ref: ./paths/approvals.yaml#/~1v1~1workspaces~1{workspace_id}~1approvals
  /v1/workspaces/{workspace_id}/approvals/{gate_id}:
    $ref: ./paths/approvals.yaml#/~1v1~1workspaces~1{workspace_id}~1approvals~1{gate_id}
  /v1/workspaces/{workspace_id}/approvals/{gate_id}:approve:
    $ref: ./paths/approvals.yaml#/~1v1~1workspaces~1{workspace_id}~1approvals~1{gate_id}:approve
  /v1/workspaces/{workspace_id}/approvals/{gate_id}:deny:
    $ref: ./paths/approvals.yaml#/~1v1~1workspaces~1{workspace_id}~1approvals~1{gate_id}:deny
  /v1/runners:
    $ref: ./paths/fleet.yaml#/~1v1~1runners
  /v1/fleets/runners:
    $ref: ./paths/fleet.yaml#/~1v1~1fleets~1runners
  /v1/fleets/runners/{id}:
    $ref: ./paths/fleet.yaml#/~1v1~1fleets~1runners~1{id}
  /v1/fleets/runners/{id}/events:
    $ref: ./paths/fleet.yaml#/~1v1~1fleets~1runners~1{id}~1events
  /_um/da5b6b3810543fe108d816ee972e4ff8/cap.json:
    $ref: ./paths/model-caps.yaml#/~1_um~1da5b6b3810543fe108d816ee972e4ff8~1cap.json
components:
  securitySchemes:
    $ref: ./components/security.yaml#/components/securitySchemes
  responses:
    $ref: ./components/responses.yaml#/components/responses
  schemas:
    $ref: ./components/schemas.yaml#/components/schemas
