{
  "openapi": "3.1.0",
  "info": {
    "title": "agentsfleet Control Plane API",
    "version": "1.0.0",
    "description": "Fleet automation control plane — webhook-driven fleet execution in a bwrap+landlock sandbox.",
    "contact": {
      "name": "agentsfleet",
      "url": "https://agentsfleet.net"
    }
  },
  "servers": [
    {
      "url": "https://api.agentsfleet.net",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "System status and readiness probes",
      "x-mintlify": {
        "navigation": "Health"
      }
    },
    {
      "name": "Authentication",
      "description": "CLI login flow via device-code style sessions and GitHub OAuth",
      "x-mintlify": {
        "navigation": "Authentication"
      }
    },
    {
      "name": "Workspaces",
      "description": "Create and manage workspaces (one workspace per repo)",
      "x-mintlify": {
        "navigation": "Workspaces"
      }
    },
    {
      "name": "Tenant",
      "description": "Tenant-scoped surfaces — provider posture and tenant-level configuration",
      "x-mintlify": {
        "navigation": "Tenant"
      }
    },
    {
      "name": "auth-identity-events",
      "description": "Internal auth-plane identity-lifecycle events (Clerk `user.created`, future identity-provider hooks). Not for customer fleets.",
      "x-mintlify": {
        "navigation": "Auth Identity Events"
      }
    },
    {
      "name": "Fleets",
      "description": "Fleet management and webhook ingestion — create, configure, and operate event-driven fleets",
      "x-mintlify": {
        "navigation": "Fleets"
      }
    },
    {
      "name": "Memory",
      "description": "Persistent Fleet memory — list and search key-value entries scoped to a Fleet (read-only; entries are written by the runner plane, not this API)",
      "x-mintlify": {
        "navigation": "Memory"
      }
    },
    {
      "name": "Secrets",
      "description": "Workspace secret vault — self-managed (Bring Your Own Key) LLM provider keys and arbitrary named secrets a Fleet interpolates as `${secrets.<name>.<field>}`",
      "x-mintlify": {
        "navigation": "Secrets"
      }
    },
    {
      "name": "Admin",
      "description": "Platform-wide configuration — manage shared LLM provider keys",
      "x-mintlify": {
        "navigation": "Admin"
      }
    },
    {
      "name": "Billing",
      "description": "Plan upgrades and billing events",
      "x-mintlify": {
        "navigation": "Billing"
      }
    },
    {
      "name": "Integration Grants",
      "description": "Fleet runtime permission grants for third-party services (Slack, GitHub, etc.)",
      "x-mintlify": {
        "navigation": "Integration Grants"
      }
    },
    {
      "name": "Connectors",
      "description": "Workspace connectors — auth + credential plumbing for third-party providers. One generic `{provider}` route set serves every provider in the deployment's connector registry; unknown providers are 404.",
      "x-mintlify": {
        "navigation": "Connectors"
      }
    },
    {
      "name": "Fleet Keys",
      "description": "Per-Fleet API keys for LangGraph/CrewAI/Composio Fleets to call the execute endpoint. Workspace-scoped.",
      "x-mintlify": {
        "navigation": "Fleet Keys"
      }
    },
    {
      "name": "API Keys",
      "description": "Tenant-level admin API keys (`agt_t` prefix). Rotatable, self-service, replace the legacy `API_KEY` env var for admin auth.",
      "x-mintlify": {
        "navigation": "API Keys"
      }
    },
    {
      "name": "Webhooks",
      "description": "Approval-gate webhooks invoked by humans to unblock a paused fleet",
      "x-mintlify": {
        "navigation": "Webhooks"
      }
    },
    {
      "name": "Approvals",
      "description": "Approval-gate inbox — list, inspect, and resolve pending gates from the dashboard or programmatically.",
      "x-mintlify": {
        "navigation": "Approvals"
      }
    },
    {
      "name": "Fleet",
      "description": "Runner fleet operator plane — enroll, list, and administer sandbox runners. Operator/admin-scoped.",
      "x-mintlify": {
        "navigation": "Fleet"
      }
    },
    {
      "name": "Fleet Bundles",
      "description": "Workspace-scoped fleet source bundles imported from templates, uploads, or GitHub.",
      "x-mintlify": {
        "navigation": "Fleet Bundles"
      }
    },
    {
      "name": "Fleet library",
      "description": "Two-tier Fleet library catalog — platform-wide and tenant-scoped onboarding from a GitHub source, stored once in object storage by content hash.",
      "x-mintlify": {
        "navigation": "Fleet library"
      }
    },
    {
      "name": "Model Catalogue",
      "description": "Public model→capability catalogue consumed at provisioning time.",
      "x-mintlify": {
        "navigation": "Model Catalogue"
      }
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Liveness check",
        "description": "Returns 200 as long as the process is alive and able to serve HTTP. Does not probe dependencies — use /readyz for readiness (database + queue).",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Process is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "commit"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok",
                      "description": "Always \"ok\" for a live process"
                    },
                    "service": {
                      "type": "string",
                      "const": "agentsfleetd",
                      "description": "Service identifier"
                    },
                    "commit": {
                      "type": "string",
                      "description": "Git commit SHA of the running build"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "metrics",
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-format metrics for scraping by monitoring infrastructure.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus text exposition format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "summary": "Readiness probe",
        "description": "Kubernetes-style readiness probe. Returns 200 when both the database and the Redis queue are reachable; returns 503 fail-closed if either dependency is degraded.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Both dependencies healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          },
          "503": {
            "description": "At least one dependency is degraded; ready=false and the failing dependency's boolean is false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "operationId": "list_platform_keys",
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no self-managed key is configured.",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Platform key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys",
                    "request_id"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformKey"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_platform_key",
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a self-managed key stored. The platform key proxies through the referenced workspace's credential.",
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "source_workspace_id"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "source_workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Workspace whose self-managed key to use as the platform key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Platform key configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "source_workspace_id",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "source_workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "operationId": "delete_platform_key",
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without self-managed keys will no longer be able to use this provider.",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "LLM provider name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean",
                      "const": false
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "operationId": "create_auth_session",
        "summary": "Start a command-line login session",
        "description": "Step 1 of the command-line device flow. The command-line tool generates\nan ephemeral P-256 ECDH keypair and POSTs the public key plus a\nhuman-facing `token_name` label. The server allocates a UUIDv7\n`session_id`, builds the browser approval `login_url` from `APP_URL`,\nand stores `{cli_public_key, token_name, status: pending, expires_at_ms}`\nin Redis with a 5-minute TTL. The command-line tool prints `login_url`\nfor the human to open in their browser.\n\nUnauthenticated; rate-limited at the Cloudflare WAF edge\n(L2 — 10 / IP / minute on `POST /v1/auth/sessions`) and\nClerk-edge (L1) for sign-in / sign-up traffic upstream.\n",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "public_key",
                  "token_name"
                ],
                "properties": {
                  "public_key": {
                    "type": "string",
                    "description": "Base64url-encoded P-256 SubjectPublicKeyInfo. The CLI's\nephemeral ECDH public key — used by the dashboard to\nderive the AES-256-GCM session key that wraps the JWT.\n"
                  },
                  "token_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Operator-facing label for the resulting credential\n(e.g. `macos-cli`, `linux-cli`, `windows-cli`).\nPrintable ASCII; appears in audit events and\n`agentsfleet auth status`.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Auth session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "session_id",
                    "login_url",
                    "request_id"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUIDv7 session identifier for approval and verification endpoints."
                    },
                    "login_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Browser approval URL for this login session."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "operationId": "poll_auth_session",
        "summary": "Poll auth session status",
        "description": "Step 2 of the CLI device flow. The CLI polls this endpoint with the\n`session_id` returned from `POST /v1/auth/sessions`. The response\nsurfaces only the public material the CLI needs to proceed:\n`status`, `cli_public_key`, `token_name`, `expires_at_ms`.\n\n**NEVER** returns `ciphertext`, `nonce`, `dashboard_public_key`,\n`verification_code`, or `verification_code_hmac` (Invariant 1 in\n`docs/AUTH.md` Flow 1). Ciphertext release is gated behind the\nverification code on `POST /v1/auth/sessions/{id}/verify`.\n\nUnauthenticated by design — the CLI poll precedes any token grant.\nThe terminal states (`expired`, `consumed`, `aborted`) return 410\nwith a structured ErrorBody (`UZ-AUTH-006/012/013`).\n",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier (UUIDv7)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session is in an active (non-terminal) state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "cli_public_key",
                    "token_name",
                    "expires_at_ms"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verification_pending"
                      ],
                      "description": "`pending` — created, awaiting dashboard approval.\n`verification_pending` — dashboard approved, awaiting CLI\nverification code.\n"
                    },
                    "cli_public_key": {
                      "type": "string",
                      "description": "Echo of the CLI's ECDH public key (base64url P-256 SPKI)."
                    },
                    "token_name": {
                      "type": "string",
                      "description": "Operator label that the dashboard shows to the user during approval."
                    },
                    "expires_at_ms": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix epoch milliseconds. Session TTL is 5 minutes from creation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Session expired (`UZ-AUTH-006`) — the 5-minute TTL elapsed before this poll.",
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_auth_session",
        "summary": "Explicit cancel of a single login session",
        "description": "Used by the dashboard's \"cancel this login\" button and by the future\nsessions surface. Transitions the named session to `aborted` with\n`reason=\"explicit_cancel\"`. The Clerk JWT MUST match the session's\n`clerk_user_id` (set on `PATCH /v1/auth/sessions/{id}/approve`);\notherwise 403.\n",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session aborted"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/approve": {
      "patch": {
        "operationId": "approve_auth_session",
        "summary": "Dashboard approves a pending session and submits the encrypted JWT",
        "description": "Step 3 of the CLI device flow. Called by the dashboard JS process\nafter the operator clicks Approve on `/cli-auth/{session_id}`.\n\nThe dashboard:\n  1. Generates an ephemeral P-256 ECDH keypair (`dash_priv` / `dash_pub`).\n  2. Derives the shared secret = `dash_priv × cli_public_key`.\n  3. Runs HKDF-SHA-256 with empty salt and `info = \"m74-002-v1\"` to\n     produce a 32-byte AES-256-GCM key.\n  4. Encrypts the Clerk JWT (template `api`) with a fresh 96-bit nonce\n     via `crypto.subtle.encrypt({ name: \"AES-GCM\", iv: nonce }, key, jwt)`.\n  5. Generates a 6-digit verification code via\n     `crypto.getRandomValues(new Uint32Array(1)) mod 1_000_000`.\n  6. PATCHes this endpoint with `{ dashboard_public_key, ciphertext,\n     nonce, verification_code }`.\n\nThe API computes `verification_code_hmac =\nHMAC-SHA256(AUTH_SESSION_CODE_PEPPER, session_id || verification_code)`\nand persists the HMAC (never the plaintext code). The session\ntransitions atomically `pending → verification_pending`. The\nsingle-write invariant: any subsequent PATCH for the same session\nreturns 409 `UZ-AUTH-015`.\n\nMemory hygiene on the dashboard: discard `dash_priv` and the shared\nkey after this call resolves. Never persist crypto material.\n",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dashboard_public_key",
                  "ciphertext",
                  "nonce",
                  "verification_code"
                ],
                "properties": {
                  "dashboard_public_key": {
                    "type": "string",
                    "description": "Base64url P-256 SubjectPublicKeyInfo (the dashboard's ephemeral ECDH public key)."
                  },
                  "ciphertext": {
                    "type": "string",
                    "description": "Base64url AES-256-GCM output over the Clerk JWT plaintext."
                  },
                  "nonce": {
                    "type": "string",
                    "description": "Base64url 12-byte (96-bit) AES-GCM nonce. Random per call."
                  },
                  "verification_code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "description": "Exactly 6 ASCII digits. Travels plaintext over TLS to this\nClerk-authenticated endpoint, exists momentarily in the API\nprocess to compute the HMAC, then is discarded. The\nalternative (dashboard pre-hashes locally) does not work\nbecause only the API holds the pepper.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session transitioned to verification_pending",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/verify": {
      "post": {
        "operationId": "verify_auth_session",
        "summary": "CLI submits the 6-digit verification code and receives the encrypted JWT",
        "description": "Step 4 of the CLI device flow. Atomically transitions\n`verification_pending → consumed` and releases the ciphertext\npayload in a single Lua-EVAL write.\n\nNo bearer authentication — the verification code IS the auth. The\ncode is single-use; success and failure paths both surface through\nErrorBody response codes:\n\n  * `UZ-AUTH-011` (400) — code did not match; `verification_attempts`\n    incremented. The fifth failed attempt transitions the session to\n    `aborted` with `reason=\"rate_limit_exceeded\"` (the L3 rate limit\n    per `docs/AUTH.md` Flow 1).\n  * `UZ-AUTH-018` (400) — verification code malformed (must be exactly\n    6 ASCII digits). The CLI distinguishes this from `UZ-AUTH-011` to\n    reprompt for a correctly-shaped code rather than reporting a mismatch.\n  * `UZ-AUTH-012` (410) — session already consumed (outside the 60-second\n    same-fingerprint replay window, or different fingerprint).\n  * `UZ-AUTH-013` (410) — session aborted (5 wrong codes, explicit cancel,\n    or replaced by a newer session).\n  * `UZ-AUTH-014` (410) — session not yet approved (no dashboard PATCH yet).\n  * `UZ-AUTH-006` (401) — session expired (5-min TTL elapsed).\n\nOn success the response carries `{ dashboard_public_key, ciphertext,\nnonce }`. The CLI derives the same AES-256-GCM key (ECDH × HKDF as\non the dashboard side; `info` MUST be `\"m74-002-v1\"` verbatim) and\ndecrypts the JWT.\n\nConsume-idempotency window: on success the server records\n`consumed_client_fingerprint = sha256(remote_addr || user_agent || session_id)`\nand `consume_payload_expires_at_ms = now_ms + 60_000`. A second\nPOST inside that window from the same fingerprint returns the same\npayload (so \"consume succeeded, response lost, client retried\"\nconverges). Outside the window or from a different fingerprint →\n410 `UZ-AUTH-012`.\n",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_code"
                ],
                "properties": {
                  "verification_code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "description": "The 6-digit code the dashboard displayed to the user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification succeeded; ciphertext payload released. The CLI\ndecrypts `ciphertext` using `dashboard_public_key` + its own\nECDH private key per the HKDF / AES-GCM derivation described\non `PATCH /v1/auth/sessions/{session_id}/approve`.\n",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "dashboard_public_key",
                    "ciphertext",
                    "nonce"
                  ],
                  "properties": {
                    "dashboard_public_key": {
                      "type": "string",
                      "description": "Base64url P-256 SPKI — the dashboard's ephemeral ECDH public key from the matching approve call."
                    },
                    "ciphertext": {
                      "type": "string",
                      "description": "Base64url AES-256-GCM output over the Clerk JWT."
                    },
                    "nonce": {
                      "type": "string",
                      "description": "Base64url 12-byte AES-GCM nonce used during encryption."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/all": {
      "delete": {
        "operationId": "delete_all_auth_sessions",
        "summary": "Bulk-abort every in-flight login session for the caller",
        "description": "Caller-scoped bulk delete. Enumerates every session with the caller's\n`clerk_user_id` whose status is `pending` or `verification_pending`\nand transitions each to `aborted` with `reason=\"explicit_cancel\"`.\n\nDoes NOT revoke already-minted JWTs — Clerk revocation is a separate\nproblem; an active CLI continues to work until its short-lived JWT\nexpires. This endpoint clears in-flight login sessions only.\n",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Sessions aborted (count includes 0 when none were pending)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "aborted_count"
                  ],
                  "properties": {
                    "aborted_count": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Number of in-flight sessions transitioned to aborted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/memories": {
      "get": {
        "operationId": "list_fleet_memories",
        "summary": "List or search memory entries for a fleet",
        "description": "Returns memory entries for the fleet. Without `query` this lists most-recent entries (optionally filtered by `category`). With `query`, performs case-insensitive LIKE search across both `key` and `content` (LIKE metacharacters in `query` are escaped — a query of `%` does NOT return every entry).\n",
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Fuzzy text search across key and content. When omitted, the endpoint lists most-recent entries.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MemoryEntry"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/identity-events/clerk": {
      "post": {
        "operationId": "auth_identity_event_clerk",
        "summary": "Clerk user.created auth-plane event",
        "description": "Internal auth-plane endpoint. Clerk delivers `user.created` (and adjacent\nidentity-lifecycle types) via Svix; the signature is verified inline\nagainst `CLERK_WEBHOOK_SECRET`. On success the handler atomically\nprovisions a personal account (tenant + user + owner membership + default\nworkspace + zero-cent credit state + audit row). Idempotent on\n`oidc_subject` — replays return `created:false` with no new rows.\nNon-`user.created` event types are 200-ignored so Clerk stops retrying.\n\nSits outside `/v1/webhooks/` (customer data plane) — the auth namespace\nis for signals about the platform's own auth lifecycle, not for events\nthat wake user-defined Fleets.\n",
        "tags": [
          "auth-identity-events"
        ],
        "parameters": [
          {
            "name": "svix-id",
            "in": "header",
            "required": true,
            "description": "Svix message identifier (used for deduplication and signature binding).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix timestamp of the Svix delivery (used for replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated list of Svix v1 signatures.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "data"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Clerk event type. Only `user.created` triggers a bootstrap; other types return 200 ignored."
                  },
                  "data": {
                    "type": "object",
                    "description": "Clerk user payload. The handler reads `id`, `email_addresses`,\n`primary_email_address_id`, `first_name`, and `last_name`; unknown fields are tolerated.\n",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handled. Shape depends on event type: user.created → {workspace_id, workspace_name, created}; user.deleted → {deleted}; any other type → {status: ignored, type}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUIDv7 of the newly provisioned default workspace (or the existing one on replay)."
                    },
                    "workspace_name": {
                      "type": "string",
                      "description": "Heroku-style workspace name, e.g. `jolly-harbor-482`."
                    },
                    "created": {
                      "type": "boolean",
                      "description": "`true` on fresh bootstrap; `false` on idempotent replay."
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "true on a user.deleted event."
                    },
                    "status": {
                      "type": "string",
                      "description": "`ignored` for event types other than user.created/user.deleted."
                    },
                    "type": {
                      "type": "string",
                      "description": "Echoed Clerk event type on ignored events."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/svix/{fleet_id}": {
      "post": {
        "operationId": "receive_svix_webhook",
        "summary": "Receive a Svix-signed webhook (Clerk events)",
        "description": "Ingress endpoint for Svix-signed webhooks (e.g. Clerk user lifecycle events). Signature is verified by the webhook auth middleware against the workspace's Svix secret before the handler runs. Body shape is event-specific and defined by the upstream issuer; the server validates the envelope and dispatches to the fleet's event log.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet receiving the webhook.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "svix-id",
            "in": "header",
            "required": true,
            "description": "Svix message identifier (used for deduplication and signature binding).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix timestamp of the Svix delivery (used for replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated list of Svix signatures (v1 scheme).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Opaque event envelope; upstream issuer (Svix) defines the payload shape per event type.",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Not enqueued, intentionally. Two shapes: duplicate delivery (`{\"status\": \"duplicate\"}` — same body `event_id` within the 24-hour dedup window) or event ignored (`{\"ignored\": \"fleet_paused\"}` — fleet is paused; the dedup slot is not consumed, so redelivery after resume processes normally).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "duplicate"
                    },
                    "ignored": {
                      "type": "string",
                      "description": "Reason the event was ignored (e.g. `fleet_paused`)."
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Webhook accepted and queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "accepted"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{fleet_id}": {
      "post": {
        "operationId": "receive_webhook",
        "summary": "Deliver an inbound webhook event to a Fleet",
        "description": "Delivers an inbound event to the fleet identified by `fleet_id`. The fleet is looked up by primary key — no JSONB traversal, no source-name uniqueness required. The body MUST be HMAC-SHA256 signed with the workspace credential keyed by the fleet's `trigger.source` (e.g. vault row `fleet:linear`, field `webhook_secret`). The provider-specific signature header (`x-hub-signature-256` for GitHub, `x-slack-signature` for Slack, etc.) is verified upstream by the `webhook_sig` middleware; this handler runs only after the HMAC is valid. There is no Bearer fallback — every inbound webhook MUST be signed. Duplicate events (same `event_id` within 24 h) return 200 `{status: \"duplicate\"}`. A webhook for a paused fleet returns 200 `{ignored: \"fleet_paused\"}` without consuming the dedup slot, so redelivery after resume processes normally. A new event is enqueued to the fleet's Redis stream and returns 202.",
        "tags": [
          "Fleets"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the target fleet. Obtained from `POST /v1/workspaces/{workspace_id}/fleets` or `agentsfleet install --from <path>`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_id",
                  "type",
                  "data"
                ],
                "properties": {
                  "event_id": {
                    "type": "string",
                    "description": "Unique identifier for this event. Used for idempotency deduplication (24-hour window)."
                  },
                  "type": {
                    "type": "string",
                    "description": "Event type label (e.g. `email.received`, `push`, `payment.succeeded`)."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Event payload — any JSON object. Passed as-is into the fleet event loop."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Not enqueued, intentionally. Two shapes: duplicate event (`{\"status\": \"duplicate\"}` — already processed within the 24-hour dedup window) or event ignored (`{\"ignored\": \"fleet_paused\"}` — fleet is paused; the dedup slot is not consumed, so redelivery after resume processes normally).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "duplicate"
                    },
                    "ignored": {
                      "type": "string",
                      "description": "Reason the event was ignored (e.g. `fleet_paused`)."
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Event accepted and enqueued for the fleet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "event_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "accepted"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed payload — missing `event_id` or `type`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Webhook auth failure. Three distinct codes: `UZ-WH-020 webhook_credential_not_configured` (fleet has no recognized provider, OR the workspace has no matching `fleet:<source>` vault credential, OR the credential JSON has no `webhook_secret` field — this is the operator-recoverable misconfig path); `UZ-WH-010 invalid_signature` (provider + secret are configured but the request is unsigned, mis-signed, or the body was tampered with); `UZ-WH-011 stale_timestamp` (Slack-style schemes with timestamp drift > 5 min).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "No active fleet is configured for this source (UZ-WH-001).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{fleet_id}/approval": {
      "post": {
        "operationId": "approval_webhook",
        "summary": "Resolve a fleet approval gate",
        "description": "Called by a human (via email link or Slack action) to approve or reject a paused fleet. Body is HMAC-signed by the issuer; the signature is verified against the fleet's webhook secret.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action_id",
                  "decision"
                ],
                "properties": {
                  "action_id": {
                    "type": "string",
                    "description": "The approval gate's action_id to resolve."
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "deny"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "action_id": {
                      "type": "string"
                    },
                    "decision": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{fleet_id}/grant-approval": {
      "post": {
        "operationId": "grant_approval_webhook",
        "summary": "Approve or reject an integration grant request",
        "description": "Human-in-the-loop approval webhook for integration grant requests (Slack, GitHub, etc.). HMAC-signed.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_id",
                  "decision",
                  "nonce"
                ],
                "properties": {
                  "grant_id": {
                    "type": "string"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "denied"
                    ]
                  },
                  "nonce": {
                    "type": "string",
                    "description": "Single-use anti-replay nonce issued with the approval request."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "grant_id": {
                      "type": "string"
                    },
                    "decision": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{fleet_id}/github": {
      "post": {
        "operationId": "github_webhook",
        "summary": "Ingest a GitHub Actions webhook",
        "description": "GitHub `workflow_run` webhook receiver. Body is HMAC-SHA256 signed (X-Hub-Signature-256) against the workspace's `fleet:github` credential `webhook_secret` field. Only `action=completed` with `conclusion=failure` is XADDed to the fleet event stream; other events return 200. Idempotency keyed on `X-GitHub-Delivery` for 24h.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet that owns this webhook receiver.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-GitHub-Event",
            "in": "header",
            "required": true,
            "description": "GitHub event type. Only `workflow_run` is ingested.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-GitHub-Delivery",
            "in": "header",
            "required": true,
            "description": "GitHub-issued delivery UUID. Used as the dedupe key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hub-Signature-256",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 of the raw body, prefixed with `sha256=`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Raw GitHub webhook payload — see https://docs.github.com/en/webhooks/webhook-events-and-payloads#workflow_run."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate delivery (idempotency hit) or event ignored (fleet paused, non-workflow_run, non-completed action, or non-failure conclusion). Body distinguishes the two via the `deduped` or `ignored` field. The `fleet_paused` ignore does not consume the dedup slot, so redelivery after resume processes normally.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deduped": {
                      "type": "boolean"
                    },
                    "ignored": {
                      "type": "string",
                      "description": "Reason the event was filtered out (e.g. `non_failure_conclusion`, `fleet_paused`)."
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Event accepted and enqueued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/workspaces/{workspace_id}/connectors": {
      "get": {
        "operationId": "connector_catalog",
        "summary": "List the connector catalog for a workspace",
        "description": "Renders the deployment's connector registry as data for the dashboard (requires the `connector:read` scope) — every provider with its archetype, display name, whether the platform side is `configured` (the `<provider>-app` platform bag exists), and whether this workspace is `connected` (holds a `fleet:<provider>` vault handle). The dashboard renders its cards from this — there is no hard-coded provider list. This is the collection whose items are the per-provider status routes below.",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace to report connected state for.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The connector catalog — one entry per registry provider.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "archetype",
                      "display_name",
                      "configured",
                      "connected"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Connector registry id / route segment (`slack`, `github`, `zoho`, `jira`, `linear`)."
                      },
                      "archetype": {
                        "type": "string",
                        "enum": [
                          "oauth2",
                          "app_install"
                        ]
                      },
                      "display_name": {
                        "type": "string"
                      },
                      "configured": {
                        "type": "boolean",
                        "description": "Platform side ready — the `<provider>-app` bag exists."
                      },
                      "connected": {
                        "type": "boolean",
                        "description": "This workspace holds a `fleet:<provider>` vault handle."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/connectors/{provider}/connect": {
      "post": {
        "operationId": "connector_connect",
        "summary": "Start a connector connect flow",
        "description": "Begins the connect round-trip for any provider in the connector registry (requires the `connector:write` scope). Returns the URL the operator's browser is redirected to — the provider's OAuth authorize URL (oauth2 archetype, e.g. `slack`) or the vendor App install URL (app_install archetype, e.g. `github`). A single-use signed state bound to the workspace rides that URL; the round-trip finishes at the callback. No token is created or stored here. Unknown provider → 404 `UZ-CONN-004`; provider not provisioned on this deployment → 503 `UZ-CONN-001`.",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace the connector will be bound to.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Connector registry id (`slack`, `github`, `zoho`, `jira`, `linear`). The id is also the `{provider}` segment of the callback URL and the vault-key stem.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connect flow started.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "install_url"
                  ],
                  "properties": {
                    "install_url": {
                      "type": "string",
                      "description": "URL to redirect the operator's browser to (provider authorize URL or vendor install URL)."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/connectors/{provider}": {
      "get": {
        "operationId": "connector_status",
        "summary": "Read a connector's status",
        "description": "Reports whether the workspace holds a live `fleet:{provider}` vault handle (requires the `connector:read` scope). Never fabricates a connected state — a missing or unreadable handle reads as `not_connected`. Provider-specific extras ride alongside (`slack` adds `team`, generic OAuth providers add `label`). Unknown provider → 404 `UZ-CONN-004`.",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Connector registry id (`slack`, `github`, `zoho`, `jira`, `linear`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connector status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "connected",
                        "not_connected"
                      ]
                    },
                    "team": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Slack only — the connected Slack workspace name (absent for other providers)."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Generic OAuth providers only — display label from the provider handle, when available."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/connectors/{provider}/callback": {
      "get": {
        "operationId": "connector_callback",
        "summary": "Complete a connector connect flow (vendor redirect)",
        "description": "The provider redirects the operator's browser here after authorization. Bearer-less by design — the signed single-use `state` minted at connect is the only trust anchor (there is no Bearer on a cross-site redirect); verify-and-consume yields the bound workspace. oauth2 providers exchange the `code` for a token under an enforced vendor deadline (`UZ-CONN-003` on stall) and vault it; app_install providers (`github`) record the `installation_id` handle instead. On success the browser is 302-redirected to the dashboard's connector card; if that redirect URL cannot be built (dashboard base URL allocation failure) the connection still succeeded, so it returns 200 `{\"status\":\"connected\"}` instead. Invalid, expired, or replayed state gives 400 `UZ-CONN-002`.",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Connector registry id (`slack`, `github`, `zoho`, `jira`, `linear`).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "The signed single-use state minted at connect. Binds the callback to a workspace; expired or replayed states are rejected.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "OAuth authorization code (oauth2 providers — required for them).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation_id",
            "in": "query",
            "required": false,
            "description": "Vendor installation id (app_install providers — required for them; `github` sends it after the App install).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connected, but the dashboard redirect URL could not be built (allocation failure). The connection succeeded; no redirect is issued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "connected"
                    }
                  }
                }
              }
            }
          },
          "302": {
            "description": "Connected — browser redirected to the dashboard's connector card.",
            "headers": {
              "Location": {
                "description": "Dashboard connectors page for the just-connected provider.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/connectors/slack/events": {
      "post": {
        "operationId": "slack_events",
        "summary": "Ingest Slack Events API deliveries",
        "description": "Slack's Events API receiver (bespoke — inbound event surfaces are per-provider by nature). Bearer-less; every request is authenticated by the Slack v0 request signature (`X-Slack-Signature` + timestamp, 5-minute drift window) — signature failures are 401 `UZ-SLK-010`/`UZ-SLK-011`. `url_verification` echoes the challenge; event deliveries are acknowledged 200 within Slack's deadline and processed async (duplicates dedup to `{\"status\":\"duplicate\"}`; events from teams with no connector install are dropped with `{\"ignored\":\"UZ-SLK-020\"}` so Slack stops retrying).",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "X-Slack-Signature",
            "in": "header",
            "required": true,
            "description": "Slack v0 HMAC-SHA256 request signature.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Slack-Request-Timestamp",
            "in": "header",
            "required": true,
            "description": "Unix timestamp of the delivery; rejected outside the 5-minute drift window.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Slack Events API envelope (`url_verification` or `event_callback`) — see https://api.slack.com/apis/events-api#events-JSON.",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledged. Shapes: `{\"status\":\"accepted\"}` (enqueued), `{\"status\":\"duplicate\"}` (dedup hit), `{\"challenge\":\"...\"}` (url_verification echo), `{\"ignored\":\"UZ-SLK-020\"}` (no install for the sending team).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "challenge": {
                      "type": "string"
                    },
                    "ignored": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "summary": "Create a workspace",
        "description": "Creates a new workspace in the caller's tenant. All fields are optional — an empty body provisions a workspace with a server-assigned Heroku-style name.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable workspace name. Must be unique within the tenant. If omitted, the server assigns a Heroku-style name (e.g. `jolly-harbor-482`)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "name",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique workspace identifier"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable workspace name. Always present — caller-supplied or server-generated Heroku-style."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/billing": {
      "get": {
        "operationId": "get_tenant_billing",
        "summary": "Tenant billing snapshot",
        "description": "Returns the tenant-scoped billing row created at signup. The single row carries the credit-pool balance shared across every workspace the tenant owns. Two-rate metering in nanos: events are free (both postures); stages cost $0.001 (platform) or $0.0001 (self-managed). Debited by the worker as fleet runs complete.\n",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Tenant billing snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "balance_nanos",
                    "updated_at",
                    "is_exhausted",
                    "exhausted_at",
                    "free_trial"
                  ],
                  "properties": {
                    "balance_nanos": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Remaining credit-pool balance in nanos (1 nano = 1/1,000,000,000 USD)."
                    },
                    "updated_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Last update time (epoch ms)"
                    },
                    "is_exhausted": {
                      "type": "boolean",
                      "description": "True once the balance has hit zero on a worker debit."
                    },
                    "exhausted_at": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "description": "Epoch ms of the first exhausting debit. Null until the balance is exhausted."
                    },
                    "free_trial": {
                      "type": "object",
                      "description": "Promotional free-trial window state (src/state/tenant_billing.zig).",
                      "required": [
                        "active",
                        "ends_at_ms"
                      ],
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "description": "True while the free-trial window is in effect."
                        },
                        "ends_at_ms": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Epoch ms when the free-trial window closes."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/billing/charges": {
      "get": {
        "operationId": "get_tenant_billing_charges",
        "summary": "Tenant credit-pool charges",
        "description": "Returns the newest-first slice of `fleet_execution_telemetry` rows for the caller's tenant. Two rows per event under the credit-pool model (`charge_type` ∈ `receive`, `stage`); the dashboard groups them by `event_id` to show one line per event with both charges. Limit-only paging is sufficient for the v2.0 Settings → Billing Usage tab; deeper history pages with Stripe billing in v2.1.\n",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Page size (1–200, default 50).",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque pagination token returned in `next_cursor` from a previous page. Omit for the first page. Treat as a black-box string — the encoded `(recorded_at, id)` tuple is an implementation detail.\n",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Newest-first telemetry rows scoped to the caller's tenant.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "next_cursor"
                  ],
                  "properties": {
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Opaque token for the next page; null when no more rows."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "tenant_id",
                          "workspace_id",
                          "fleet_id",
                          "event_id",
                          "charge_type",
                          "posture",
                          "model",
                          "credit_deducted_nanos",
                          "recorded_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "tenant_id": {
                            "type": "string"
                          },
                          "workspace_id": {
                            "type": "string"
                          },
                          "fleet_id": {
                            "type": "string"
                          },
                          "event_id": {
                            "type": "string"
                          },
                          "charge_type": {
                            "type": "string",
                            "enum": [
                              "receive",
                              "stage"
                            ]
                          },
                          "posture": {
                            "type": "string",
                            "enum": [
                              "platform",
                              "self_managed"
                            ]
                          },
                          "model": {
                            "type": "string"
                          },
                          "credit_deducted_nanos": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "token_count_input": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "token_count_output": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "wall_ms": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "recorded_at": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/billing/charges/{event_id}/telemetry": {
      "get": {
        "operationId": "get_tenant_metering_periods",
        "summary": "Tenant metering periods for one charge",
        "description": "Returns the oldest-first renewal slices behind one `stage` charge. The route is scoped to the caller's tenant through the matching `fleet_execution_telemetry` row; unknown or foreign `event_id` values return an empty `items` list.\n",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event Identifier (ID) from a `get_tenant_billing_charges` response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Metering slices for the requested event.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slice_seq",
                          "d_input_tokens",
                          "d_cached_tokens",
                          "d_output_tokens",
                          "run_ms",
                          "run_fee_nanos",
                          "token_cost_nanos",
                          "charged_nanos",
                          "created_at"
                        ],
                        "properties": {
                          "slice_seq": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "d_input_tokens": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "d_cached_tokens": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "d_output_tokens": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "run_ms": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "run_fee_nanos": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "token_cost_nanos": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "charged_nanos": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "created_at": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/workspaces": {
      "get": {
        "operationId": "list_tenant_workspaces",
        "summary": "List every workspace the caller's tenant owns",
        "description": "Returns the full set of workspaces owned by the caller's tenant. Backs the dashboard workspace switcher: a user can switch to any workspace in this list without re-issuing the JWT, because workspace authorisation is tenant-scoped. No pagination — a tenant's workspace count is bounded and small in practice.\n",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "UUIDv7 of the workspace."
                          },
                          "name": {
                            "type": "string",
                            "nullable": true,
                            "description": "Human-readable workspace name. Nullable — pre-rename workspaces may not have one."
                          },
                          "created_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Workspace creation time (epoch ms)."
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items returned."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/provider": {
      "get": {
        "operationId": "get_tenant_provider",
        "summary": "Read tenant LLM provider configuration",
        "description": "Returns the tenant's persisted provider config — mode, provider name, model, context cap, and (under self-managed) the user-named credential_ref. The api_key is never serialised. Tenants with no row receive a synthesised platform default.\n",
        "tags": [
          "Tenant"
        ],
        "responses": {
          "200": {
            "description": "Provider config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_tenant_provider",
        "summary": "Set tenant LLM provider posture",
        "description": "Eager-validates and UPSERTs the tenant_model_selection row. Validation order: body shape → credential_ref required (mode=self_managed) → credential_not_found → credential_data_malformed → model_not_in_caps_catalogue → UPSERT. Stored `provider` is read from the credential JSON; effective `model` is the body override (when present) else the credential's stored model. A self_managed activation also registers the matching model entry (see /v1/tenants/me/models) when none exists — idempotent on repeat, so an activation is always visible as a registry row.\n",
        "tags": [
          "Tenant"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mode"
                ],
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "platform",
                      "self_managed"
                    ]
                  },
                  "credential_ref": {
                    "type": "string",
                    "nullable": true,
                    "description": "User-named vault key. Required when mode=self_managed."
                  },
                  "model": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional model override. Falls back to the credential's stored model when absent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider config after upsert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_tenant_provider",
        "summary": "Reset tenant LLM provider to platform default",
        "description": "Equivalent to `PUT {mode: \"platform\"}`. Writes the explicit mode=platform row so the dashboard can distinguish \"never configured\" from \"explicitly reset\".\n",
        "tags": [
          "Tenant"
        ],
        "responses": {
          "200": {
            "description": "Provider config after reset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/models": {
      "get": {
        "operationId": "list_tenant_model_entries",
        "summary": "List the tenant's model registry",
        "description": "One entry per configured model; two entries can share a `secret_ref`. Each entry is joined to its secret's non-secret metadata (provider, kind, base_url, has_key) — `api_key` is never serialised. `active` is computed against the tenant's current provider selection (`GET /v1/tenants/me/provider`). Before listing, a pre-registry activation with no matching entry is synthesized idempotently, so the registry self-heals with no separate backfill.\n",
        "tags": [
          "Tenant"
        ],
        "responses": {
          "200": {
            "description": "Model registry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantModelEntryList"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "create_tenant_model_entry",
        "summary": "Register a model entry",
        "description": "Creates one `(model_id, secret_ref)` row. `secret_ref` must already name a vault secret in the tenant's primary workspace — store or reuse one via `/v1/workspaces/{workspace_id}/secrets` first. Does not activate the entry; activate via `PUT /v1/tenants/me/provider`.\n",
        "tags": [
          "Tenant"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model_id",
                  "secret_ref"
                ],
                "properties": {
                  "model_id": {
                    "type": "string",
                    "description": "Provider-namespaced model string."
                  },
                  "secret_ref": {
                    "type": "string",
                    "description": "User-named vault secret; may already back other entries."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantModelEntryWriteResult"
                }
              }
            }
          },
          "404": {
            "description": "secret_ref does not name a vault secret (`UZ-MODELS-002`).",
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "An entry with this exact (model_id, secret_ref) pair already exists (`UZ-MODELS-003`).",
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/models/{id}": {
      "patch": {
        "operationId": "update_tenant_model_entry",
        "summary": "Change a model entry's model_id",
        "description": "Model-only change; `secret_ref` is immutable on this endpoint — create a new entry to point at a different secret.\n",
        "tags": [
          "Tenant"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the model entry.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model_id"
                ],
                "properties": {
                  "model_id": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Entry after update",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantModelEntryWriteResult"
                }
              }
            }
          },
          "404": {
            "description": "No entry with this id for the calling tenant (`UZ-MODELS-004`).",
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "The new (model_id, secret_ref) pair collides with an existing entry (`UZ-MODELS-003`).",
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_tenant_model_entry",
        "summary": "Remove a model entry",
        "description": "Idempotent — deleting an id that doesn't exist (already removed, or never existed) still returns 204. The referenced vault secret is never touched; sibling entries sharing it survive.\n",
        "tags": [
          "Tenant"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the model entry.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "409": {
            "description": "This entry is the tenant's active selection — switch to another entry first (`UZ-MODELS-001`).",
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/secrets": {
      "get": {
        "operationId": "list_workspace_secrets",
        "summary": "List secrets stored for a workspace",
        "description": "Returns secret names and non-secret descriptors. Values are never returned — they live encrypted in `vault.secrets`.",
[...]
