{
  "openapi": "3.1.0",
  "info": {
    "title": "agentsfleet Control Plane API",
    "description": "API for managing workspaces, fleets, triggers, and runs.",
    "contact": {
      "name": "agentsfleet",
      "url": "https://agentsfleet.net"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.agentsfleet.net",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Liveness check",
        "description": "Returns 200 as long as the process is alive and able to serve HTTP. Does not probe dependencies — use /readyz for readiness (database + queue). ",
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "The process is alive"
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Readiness probe",
        "description": "Returns 200 when the database and event queue are available, and 503 when either is not. Never shed: an orchestrator that cannot reach this because the instance is busy learns nothing it can act on. ",
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "Every dependency this instance needs is reachable"
          },
          "503": {
            "description": "A dependency this instance needs is unreachable"
          }
        }
      }
    },
    "/v1/admin/fleet-libraries": {
      "get": {
        "tags": [
          "Fleet library"
        ],
        "summary": "List the platform Fleet library catalog",
        "description": "Lists every entry in the global platform catalog. Published, draft, and entries whose bundle was never fetched all appear. Unlike the workspace gallery, this operator view hides nothing: it shows what is live and what still needs work. Requires the `platform- library:write` scope. Metadata only — never bundle markdown, a support-file body, or an object-store key. Each row carries an `etag` that an editor can send as `If-Match` on PATCH. ",
        "operationId": "list_platform_fleet_library",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminLibrariesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
        "tags": [
          "Fleet library"
        ],
        "summary": "Onboard a platform Fleet library entry",
        "description": "Onboards a Fleet library entry into the global platform catalog from a GitHub source reference. Requires the `platform-library:write` scope. The canonical bundle is written to internal object storage keyed by content hash; the response carries metadata only — never an object-store key or support-file content. ",
        "operationId": "onboard_platform_fleet_library",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/admin/fleet-libraries/{id}": {
      "delete": {
        "tags": [
          "Fleet library"
        ],
        "summary": "Delete an unpublished platform Fleet library entry",
        "description": "Removes a catalog entry. Only an entry that is NOT published may be deleted. A live fleet is never taken away from the tenants who can install it, so unpublish it first. Workspaces that already installed the fleet are unaffected: an install snapshots the bundle, so it keeps running. Requires the `platform-library:write` scope. ",
        "operationId": "delete_platform_fleet_library",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "patch": {
        "tags": [
          "Fleet library"
        ],
        "summary": "Curate, publish, or unpublish a platform Fleet library entry",
        "description": "Partial update. `description` and `required_credentials_reasons` are the two fields no bundle can supply, so they are operator-owned: a later bundle refetch never overwrites them. `published` moves the entry between `draft` (stored, invisible to every tenant) and `public` (live in every workspace gallery and installable). Publishing an entry whose bundle was never fetched is refused — a published entry always has something to install. Requires the `platform-library:write` scope. Send `If-Match` with the row's `etag` to reject stale edits before they can repoint the source or unpublish the entry. Omitting the header preserves last-write-wins behavior. ",
        "operationId": "update_platform_fleet_library",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "412": {
            "description": "The precondition the caller supplied does not hold"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/admin/models": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List models",
        "description": "Returns every shared model, ordered by provider and model identifier. Requires the `model:read` scope. ",
        "operationId": "list_admin_models",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminModelsResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Add a priced model to the catalogue",
        "description": "Creates one catalogue row. `(provider, model_id)` is the row's immutable identity — change either by deleting and re-adding. The rate cache is repopulated on success, so a new price is live with no restart. Requires the `model:admin` scope. ",
        "operationId": "create_admin_model",
        "responses": {
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/admin/models/{id}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Remove a model",
        "description": "Refuses to remove the active default model. Choose another default first. Requires the `model:admin` scope. ",
        "operationId": "delete_admin_model",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Update a catalogue row's caps and rates",
        "description": "Rates-only change; `provider` and `model_id` are the row identity and are immutable on this endpoint. The rate cache is repopulated on success. Requires the `model:admin` scope. ",
        "operationId": "update_admin_model",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no self-managed key is configured. ",
        "operationId": "list_platform_keys",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformKeyDeactivateResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a self-managed key stored. The platform key proxies through the referenced workspace's credential. ",
        "operationId": "put_platform_key",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformKeySetResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without self- managed keys will no longer be able to use this provider. ",
        "operationId": "delete_platform_key",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List tenant API keys",
        "description": "Returns metadata for every tenant API key visible to the caller, under Stripe-style keyset pagination. The cursor carries the boundary sort value, so every allowlisted sort pages without loss. The retired page and page_size parameters are refused. Results are always scoped to the caller's tenant; `key_hash` is never returned. ",
        "operationId": "list_api_keys",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Mint a tenant API key",
        "description": "Creates a tenant admin key with the `agt_t` prefix. The raw key is returned once. Only its SHA-256 hash is saved. ",
        "operationId": "create_api_key",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokedApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Delete a revoked tenant API key",
        "description": "Deletes a revoked tenant API key. An active key returns 409 `UZ- APIKEY-008`. ",
        "operationId": "delete_api_key",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke a tenant API key",
        "description": "Partial lifecycle update. Body must be `{\"active\": false}` — re- activation is not supported; mint a new key instead. Sets `revoked_at` and `updated_at`. ",
        "operationId": "revoke_api_key",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/auth/identity-events/clerk": {
      "post": {
        "tags": [
          "auth-identity-events"
        ],
        "summary": "Receive a Clerk account event",
        "description": "Receives signed account events from Clerk. A `user.created` event creates the user's account and default workspace. Repeated events return `created:false`. Unsupported event types return 200 with `status: ignored`. ",
        "operationId": "auth_identity_event_clerk",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Start a command-line login session",
        "description": "Starts a command-line sign-in session that lasts 5 minutes. The response includes a URL for approval in a browser. No access token is required. Rate limits may return 429. ",
        "operationId": "create_auth_session",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAllSessionsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/auth/sessions/all": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Bulk-abort every in-flight login session for the caller",
        "description": "Caller-scoped bulk delete. Enumerates every session with the caller's `clerk_user_id` whose status is `pending` or `verification_pending` and transitions each to `aborted` with `reason=\"explicit_cancel\"`. Does NOT revoke already-minted JWTs — Clerk revocation is a separate problem; an active CLI continues to work until its short-lived JWT expires. This endpoint clears in- flight login sessions only. ",
        "operationId": "delete_all_auth_sessions",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Read a sign-in session",
        "description": "Returns the current sign-in status. No access token is required. Expired, used, or cancelled sessions return 410 with a stable error code. ",
        "operationId": "poll_auth_session",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollSessionResponse"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "410": {
            "description": "The resource is gone and will not return"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Explicit cancel of a single login session",
        "description": "Used by the dashboard's \"cancel this login\" button and by the future sessions surface. Transitions the named session to `aborted` with `reason=\"explicit_cancel\"`. The Clerk JWT MUST match the session's `clerk_user_id` (set on `PATCH /v1/auth/sessions/{id}/approve`); otherwise 403. ",
        "operationId": "delete_auth_session",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/approve": {
      "patch": {
        "tags": [
          "Authentication"
        ],
        "summary": "Approve a sign-in session",
        "description": "Approves a pending command-line sign-in session. The dashboard sends encrypted sign-in data and a six-digit verification code. A second approval for the same session returns 409 `UZ-AUTH-015`. ",
        "operationId": "approve_auth_session",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "410": {
            "description": "The resource is gone and will not return"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify a sign-in session",
        "description": "Checks the six-digit code and returns encrypted sign-in data. The code can be used once. A retry from the same client within 60 seconds returns the same response. Later retries return 410 `UZ- AUTH-012`. `UZ-AUTH-011` means the code did not match. The fifth failed attempt ends the session. `UZ-AUTH-018` means the code was not six digits. `UZ-AUTH-013` means the session ended. `UZ-AUTH-014` means approval is pending. `UZ-AUTH-006` means the session expired after 5 minutes. ",
        "operationId": "verify_auth_session",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifySessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "410": {
            "description": "The resource is gone and will not return"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/cli-credentials": {
      "post": {
        "tags": [
          "CLI Credentials"
        ],
        "summary": "Mint a command-line credential",
        "description": "Creates a durable credential for one machine, with the `afc_` prefix. The raw credential is returned once. Only its SHA-256 hash is saved, so it cannot be read back later. A credential belongs to a person, not to a team. Call this with a browser session token or with an existing command-line credential. A tenant API key is refused. Minting revokes whatever credential the same machine name already held. One machine holds one live credential at a time. ",
        "operationId": "create_cli_credential",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/cli-credentials/{id}": {
      "delete": {
        "tags": [
          "CLI Credentials"
        ],
        "summary": "Revoke a command-line credential",
        "description": "Retires one of your credentials. The terminal holding it is refused on its next call, with the code `UZ-AUTH-023`. Running `agentsfleet logout` calls this for the credential on that machine. Browser sessions are untouched, so signing out of a terminal does not sign you out of the dashboard. ",
        "operationId": "revoke_cli_credential",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/connectors/{provider}/callback": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Relay a provider callback to the dashboard",
        "description": "Compatibility URL for provider registrations that still target the API host. It forwards the browser to the dashboard callback with a fixed legacy marker. The authenticated endpoint uses that marker only to echo the old redirect URL during token exchange. This endpoint never exchanges a provider code or changes connector data. New provider registrations use `https://<APP_HOST>/api/connectors/{provider}/callback` for the matching environment. The dashboard posts the current Bearer token to the authenticated callback completion method. ",
        "operationId": "connector_callback",
        "responses": {
          "200": {
            "description": "OK"
          },
          "302": {
            "description": "Redirect back to the caller that began the flow"
          },
          "400": {
            "description": "The request could not be read"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Complete a provider connection",
        "description": "The dashboard calls this endpoint after the provider returns to the browser. The caller needs `connector:write` and must be the same person who started the signed connection state. The signed state binds the workspace, a keyed tag of the starter identity, a nonce, and expiry. The endpoint verifies identity and workspace access before consuming the nonce or exchanging a provider code. ",
        "operationId": "connector_callback_complete",
        "responses": {
          "200": {
            "description": "OK"
          },
          "302": {
            "description": "Redirect back to the caller that began the flow"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/connectors/{provider}/events": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Receive Slack events",
        "description": "Slack sends signed events to this route. Users do not call this route. An invalid signature returns 401 `UZ-SLK-010`. A timestamp outside 5 minutes returns 401 `UZ-SLK-011`. ",
        "operationId": "slack_events",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/fleets/bundles": {
      "get": {
        "tags": [
          "Fleet Bundles"
        ],
        "summary": "List the platform Fleet library catalog",
        "description": "Returns the first-party (platform) Fleet library catalog. Rows contain only metadata and requirement hints; they carry no credential values or object-store keys. The workspace gallery union lives at GET /v1/workspaces/{workspace_id}/fleet-libraries. ",
        "operationId": "list_fleet_bundles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FleetBundlesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/fleets/runners": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "List fleet runners",
        "description": "Platform-admin operator-plane read of the whole fleet, newest first over the composite (created_at, id) key. Under keyset pagination a runner enrolled mid-traversal never repeats or hides a row. The retired page, page_size and sort parameters are refused. Each row carries a derived `liveness` — never the stored auth state, never the token hash. ",
        "operationId": "list_fleet_runners",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnersResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/fleets/runners/{runner_id}": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "Get a fleet runner",
        "description": "Platform-admin read of a single runner. Carries the summary fields, a live-work snapshot, and lifetime counters from durable lease and event rows — never from in-memory metrics. The runner detail page loads from this read. ",
        "operationId": "get_fleet_runner",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "patch": {
        "tags": [
          "Fleet"
        ],
        "summary": "Administer a fleet runner",
        "description": "Platform-admin mutation on a single runner. The body carries exactly one of `action` or `assigned_policy`. `action` moves the admin state: `cordon` to cordoned, `drain` to draining, `revoke` to revoked. Revoked is terminal; a revoked runner cannot transition back. `self_test` moves no state. It records a request for the runner to test its own sandbox. The host picks the request up on its next heartbeat and answers on a later one. The reply is the recorded request, never a verdict. A revoked runner refuses it with 409 `UZ- RUN-018`, since it will never heartbeat again. `assigned_policy` re- assigns the runner's policy, and the host picks it up on its next heartbeat. Sending the same policy again changes nothing and records no event. ",
        "operationId": "patch_fleet_runner",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerAdminPatchResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/fleets/runners/{runner_id}/events": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "List fleet runner events",
        "description": "Platform-admin read of a single runner's append-only history, newest first over the composite (occurred_at, id) key. The retired page and page_size parameters are refused. Optionally filtered by event type and an occurred-at millisecond window. ",
        "operationId": "list_fleet_runner_events",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/fleets/runners/{runner_id}/leases": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "List a runner's leases",
        "description": "Platform-admin read of a single runner's lease history, newest first. Each lease is joined to its Fleet event, so outcome and failure cause arrive in one round trip. Stripe-style keyset pagination — `starting_after` is a lease id from a previous page's `next_cursor`. Settled leases are retained for 30 days. The window is measured from settlement, not from acquisition. A lease acquired long ago and settled yesterday keeps its full window. A background sweep deletes them past that window. A lease still running or renewing is never swept. The per-lease activity records (`lease_acquired`, `lease_released`) are swept on the same 30-day window. Each record ages from when it occurred, not from its lease's settlement. A long run's opening record can therefore be pruned shortly before its lease row. The runner's lifecycle activity is kept at any age, so a long-lived runner's feed never empties. A lease whose runner died without reporting is marked expired once it passes the same window. It then keeps its own window, like any settled lease. The lifetime totals on `GET /v1/fleets/runners/{id}` are unaffected by any of this. They count transitions as they happen, not surviving rows. A long-lived runner's `leases_acquired` will therefore exceed what this endpoint returns. ",
        "operationId": "list_fleet_runner_leases",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/ingress/qstash/schedules": {
      "post": {
        "tags": [
          "Schedules"
        ],
        "summary": "Receive a scheduled fire",
        "description": "Receives a signed fire from Upstash QStash and appends a `cron` event to the target Fleet. A valid duplicate, missing, inactive, or stale fire is accepted without appending an event. ",
        "operationId": "ingest_qstash_schedule",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/ingress/{provider}": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Receive a provider event",
        "description": "Receives signed events from a connected provider. GitHub is the supported provider. A matching event starts runs for subscribed fleets. Duplicate events do not start another run. Repair pull requests and workflow results update repair evidence without starting another run. A terminal production `deployment_status` records the deployed commit and schedules eligible verification fleets. ",
        "operationId": "ingest_connector_webhook",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for publication; a subscriber reading it is a separate event"
          },
          "400": {
            "description": "The request could not be read"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Model Library"
        ],
        "summary": "List available models",
        "description": "Returns models available to the tenant. Each item includes its provider, context limit, and usage fields. An empty library returns an empty array. A bounded keyset page ordered by normalized `model_id`, then normalized `provider`, then an opaque row identity. Every comparison runs under `COLLATE \"C\"`, so the order is byte-wise and stable across locales. Follow `next_cursor` to read the whole catalogue; a client that reads only the first page silently loses every model past it. The response is conditionally revalidated. Every answer carries an `ETag` over the exact bytes served, plus `Cache-Control: private, no-cache` and `Vary: Authorization`. Send the tag back as `If-None-Match` and a match answers `304` with no body and the same headers. `private` is what stops a shared proxy handing one tenant's response to another even though the payload is identical for every authorized caller. ",
        "operationId": "get_model_library",
        "responses": {
          "200": {
            "description": "OK"
          },
          "304": {
            "description": "Not modified — the entity tag the caller presented still holds"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Register a runner",
        "description": "Enrolls a runner into the fleet and assigns its policy. Requires an existing operator credential (Clerk JWT or `agt_t` API key with admin role); there is no enrollment token. Mints a durable `agt_r` runner token, returned once, and stores only its SHA-256 hash. The host applies the policy assigned here and never declares its own. ",
        "operationId": "register_runner",
        "responses": {
          "201": {
            "description": "Runner registered; the bearer token is returned exactly once"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me": {
      "get": {
        "tags": [
          "Runners"
        ],
        "summary": "Read this runner's own row",
        "description": "Answers the row this host enrolled as: its status, its assigned policy, and what its kernel can actually enforce. Reading it does NOT bump liveness — the heartbeat writes that and nothing else does, so inspecting a host can never mask a dead runner. ",
        "operationId": "get_runner_self",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me/bundles/{content_hash}": {
      "get": {
        "tags": [
          "Fleet Bundles"
        ],
        "summary": "Fetch a fleet's support-file bundle",
        "description": "The canonical tar a runner materialises support files from, addressed by content hash. The daemon proxies it because the runner holds no object-store keys. A hash is not a name anybody can guess, so the snapshot is not scoped to a runner, a fleet or a tenant. ",
        "operationId": "runner_fetch_bundle",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me/credentials/mint": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Mint a credential for a declared tool",
        "description": "Issued at the moment a tool needs one, scoped to what the lease already proved. The body names no workspace: the credential is minted against the lease the caller holds, so a runner cannot ask for material outside the run it is executing. ",
        "operationId": "runner_mint_credential",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintCredentialResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me/heartbeats": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Report liveness, receive assignment",
        "description": "Liveness up, configuration down. The assignment rides every reply, so an operator's dashboard change reaches the host within one interval and nobody visits the host. An unreadable body is read as `no report this beat` and the beat still counts: a host must not be able to fail its own liveness by sending nonsense. ",
        "operationId": "runner_heartbeat",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me/leases": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Poll for the next lease",
        "description": "The poll a runner lives on. Answers either a lease to run or a backoff to wait out; the claim, the money, the gates and the policy are all decided before the answer is written. ",
        "operationId": "runner_lease",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me/leases/{lease_id}/activity": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Publish live-tail activity frames",
        "description": "Frames for the workspace event stream. Answers 202 rather than 200: the frame is accepted for publication, and a subscriber reading it is a separate event from this call returning. ",
        "operationId": "runner_publish_activity",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me/leases/{lease_id}/renew": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Extend a live lease",
        "description": "A run buying more time before its lease expires. The body is optional; a body that will not parse is refused rather than treated as an empty one, because a renewal is an assertion about progress and an unreadable assertion is not one. ",
        "operationId": "runner_renew_lease",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenewResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me/memory/{fleet_id}": {
      "get": {
        "tags": [
          "Memory"
        ],
        "summary": "Hydrate what a fleet remembers",
        "description": "The memory a fleet carries between runs, read at the start of one. The runner names the fleet, and the lease it holds is what makes that name legitimate. ",
        "operationId": "runner_hydrate_memory",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryHydrateResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
        "tags": [
          "Memory"
        ],
        "summary": "Capture what a fleet learned",
        "description": "Writes back what the run decided is worth keeping. The reply names what was stored and what was skipped, so a runner learns which of its entries did not survive the bounds. ",
        "operationId": "runner_capture_memory",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryCaptureResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/runners/me/reports": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Report the result of one run",
        "description": "The terminal result of one lease. A report from a holder the fleet has already superseded is refused by the fence and writes nothing, so a stale writer cannot land a partial finalize on the current holder's run. ",
        "operationId": "runner_report",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/tenants/me/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Read the tenant balance",
        "description": "Returns the balance shared by every workspace in the tenant. The response also shows whether the balance is empty. ",
        "operationId": "get_tenant_billing",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/tenants/me/billing/charges": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List tenant charges",
        "description": "Returns charge records with the newest record first. Use `limit` and `cursor` to read more records. ",
        "operationId": "get_tenant_billing_charges",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/tenants/me/models": {
      "get": {
        "tags": [
          "Tenant"
        ],
        "summary": "List the tenant's model registry",
        "description": "One entry per configured model; two entries can share a `secret_ref`. Each entry is joined to its secret's non-secret metadata (provider, kind, base_url, has_key) — `api_key` is never serialised. `active` is computed against the tenant's current provider selection (`GET /v1/tenants/me/provider`). The response is a bounded page ordered by `created_at` descending, then `id` descending. Page forward by sending the response's `next_cursor` back as `starting_after`; a `null` `next_cursor` is the last page. Cursors are bound to the tenant and the `limit` that produced them, so changing `limit` mid-pagination requires starting from the first page again. ",
        "operationId": "list_tenant_model_entries",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
        "tags": [
          "Tenant"
        ],
        "summary": "Register a model entry",
        "description": "Creates one `(model_id, secret_ref)` row. `secret_ref` must already name a vault secret in the tenant's primary workspace — store or reuse one via `/v1/workspaces/{workspace_id}/secrets` first. Does not activate the entry; activate via `PUT /v1/tenants/me/provider`. ",
        "operationId": "create_tenant_model_entry",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/tenants/me/models/{id}": {
      "delete": {
        "tags": [
          "Tenant"
        ],
        "summary": "Remove a model entry",
        "description": "Idempotent — deleting an id that doesn't exist (already removed, or never existed) still returns 204. The referenced vault secret is never touched; sibling entries sharing it survive. ",
        "operationId": "delete_tenant_model_entry",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "patch": {
        "tags": [
          "Tenant"
        ],
        "summary": "Change a model entry's model_id",
        "description": "Model-only change; `secret_ref` is immutable on this endpoint — create a new entry to point at a different secret. ",
        "operationId": "update_tenant_model_entry",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/tenants/me/provider": {
      "get": {
        "tags": [
          "Tenant"
        ],
        "summary": "Read tenant model provider settings",
        "description": "Returns the tenant's provider mode, provider name, model, context limit, and credential reference. Secret values are never returned. ",
        "operationId": "get_tenant_provider",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "put": {
        "tags": [
          "Tenant"
        ],
        "summary": "Set tenant model provider",
        "description": "Sets the provider mode and model. Self-managed mode requires a `credential_ref` that names an existing secret. If the model entry does not exist, this request creates it. ",
        "operationId": "put_tenant_provider",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "delete": {
        "tags": [
          "Tenant"
        ],
        "summary": "Reset tenant LLM provider to platform default",
        "description": "Equivalent to `PUT {mode: \"platform\"}`. Writes the explicit mode=platform row so the dashboard can distinguish \"never configured\" from \"explicitly reset\". ",
        "operationId": "delete_tenant_provider",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/tenants/me/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List the tenant's workspaces",
        "description": "Returns a stable oldest-first cursor page of workspaces owned by the caller's authoritative tenant. Pass `starting_after` from `next_cursor` to continue. The optional `name` filter uses exact equality and supports reconciliation after an uncertain workspace- create response. ",
        "operationId": "list_tenant_workspaces",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/webhooks/svix/{fleet_id}": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Receive a signed Svix event",
        "description": "Receives a signed Svix event for one fleet. A valid new event returns 202. A duplicate or an event for a paused fleet returns 200. ",
        "operationId": "receive_svix_webhook",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for publication; a subscriber reading it is a separate event"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/webhooks/{fleet_id}": {
      "post": {
        "tags": [
          "Fleets"
        ],
        "summary": "Send a signed event to a fleet",
        "description": "Sends a signed event to one fleet. Every request requires a valid provider signature. A new event returns 202. A duplicate within 24 hours returns `status: duplicate`. A paused fleet returns `ignored: fleet_paused`. Send the event again after resuming the fleet. ",
        "operationId": "receive_webhook",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for publication; a subscriber reading it is a separate event"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/webhooks/{fleet_id}/approval": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Resolve a fleet approval gate",
        "description": "Called by a human (via email link or Slack action) to approve or reject a paused fleet. Body is HMAC-signed by the issuer; the signature is verified against the fleet's webhook secret. ",
        "operationId": "approval_webhook",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/webhooks/{fleet_id}/github": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Receive a signed GitHub event",
        "description": "Verifies the body with the `webhook_secret` field from the workspace's `github` secret. Reviewable `pull_request` events and failed completed `workflow_run` events create fleet events. A delivery identifier remains reserved for 72 hours after acceptance. ",
        "operationId": "github_webhook",
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for publication; a subscriber reading it is a separate event"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces": {
      "post": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Create a workspace",
        "description": "Creates a named workspace in the caller's tenant. The server assigns the workspace identifier. This operation does not accept a replay key or retry automatically. After an uncertain response, query the tenant's workspaces with the exact name. Retrying the same tenant- unique name cannot create a second row and returns 409 when the first request committed. ",
        "operationId": "create_workspace",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedWorkspaceResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/approvals": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "summary": "List pending approval gates for a workspace",
        "description": "Returns approval gates oldest-first (oldest is most urgent). Each row surfaces the fleet's proposed action, gathered evidence, blast- radius assessment, and timeout countdown. Filter by fleet, gate kind, or status. Cursor pagination over (created_at, id) so concurrent inserts don't cause silent skips. ",
        "operationId": "list_workspace_approvals",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApprovalsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/approvals/{gate_id}": {
      "get": {
        "tags": [
          "Approvals"
        ],
        "summary": "Get a single approval gate by id",
        "description": "Drives the dashboard detail page. 404 when the gate doesn't exist or belongs to a different workspace. ",
        "operationId": "get_workspace_approval",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolvedResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/approvals/{gate_id}/{decision}": {
      "post": {
        "tags": [
          "Approvals"
        ],
        "summary": "Approve a pending request",
        "description": "Approves a pending request. If two callers resolve it, the first result wins. Other callers receive 409 with the existing result and resolver. ",
        "operationId": "approve_workspace_approval",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/connectors": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "List connectors for a workspace",
        "description": "Returns the providers available to the workspace. Each item shows whether the provider is ready and connected. Requires the `connector:read` scope. ",
        "operationId": "connector_catalog",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/connectors/{provider}": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Read a connector status",
        "description": "Returns `connected` or `not_connected` for one provider. Requires the `connector:read` scope. An unknown provider returns 404 `UZ- CONN-004`. ",
        "operationId": "connector_status",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "delete": {
        "tags": [
          "Connectors"
        ],
        "summary": "Disconnect a provider from a workspace",
        "description": "Removes the workspace's connector handle and event-routing records from `agentsfleet`. Provider authorization remains active outside `agentsfleet`. Repeating this request returns 204. Use Connect to authorize the provider again. ",
        "operationId": "connector_disconnect",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/connectors/{provider}/connect": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Get a provider connection URL",
        "description": "Returns a URL for connecting the workspace to the provider. Open the URL in a browser. An unknown provider returns 404 `UZ-CONN-004`. An unavailable provider returns 503 `UZ-CONN-001`. ",
        "operationId": "connector_connect",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/events": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List a workspace's aggregate event history",
        "description": "Cursor-paginated list of operator-visible events across every fleet in the workspace, newest first. Replaces the deleted activity endpoint. Optional `fleet_id` filter narrows to one fleet. Same query shape as the per-fleet endpoint - `actor` glob, `since=` (duration or RFC 3339), and a `cursor` mutually exclusive with `since`. ",
        "operationId": "list_workspace_events",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/events/stream": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "Stream live activity for a whole workspace",
        "description": "Opens ONE Server-Sent Events (SSE) stream carrying live activity for every fleet the caller can read in the workspace. It is the Fleets Wall's single connection, replacing one stream per tile. The first frame is `event: hello`. Its `data` is `{\"kind\":\"hello\",\"fleet_ids\":[...]}` for the current readable fleet set. Activity frame `data` contains the publisher payload with `fleet_id` added as the leading field. The client routes each frame by that tag. A stalled client can overflow its bounded server queue. The server then sends `event: catching_up` with `{\"kind\":\"catching_up\",\"dropped\":N}`. `dropped` is the new drop count since the previous signal. Control frames use identifier 0 and do not advance the activity sequence. Activity identifiers start at 0 for each connection. The route ignores `Last-Event-ID`. The connection adjusts its fan-in as fleets appear or disappear. A caller whose workspace access is revoked stops receiving on the next refresh. At capacity the route returns 503 `UZ-API-002` with `Retry- After`. After a reconnect opens, recover the gap through `GET /v1/workspaces/{workspace_id}/events`. ",
        "operationId": "stream_workspace_events",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleet-libraries": {
      "get": {
        "tags": [
          "Fleet library"
        ],
        "summary": "List the workspace Fleet library gallery",
        "description": "Returns the union of the platform Fleet library catalog and this workspace's own tenant entries — and nothing from another workspace. Each entry carries identity, source, requirements and per-credential reason copy; never an object-store key. A bounded keyset page ordered by `created_at DESC, tier ASC, id DESC` across BOTH catalogs. Follow `next_cursor` to read the whole gallery; a client that reads only the first page silently loses every entry past it. The support-file manifest is stored on import but served by no endpoint. ",
        "operationId": "list_workspace_fleet_library",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GalleryResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
        "tags": [
          "Fleet library"
        ],
        "summary": "Onboard a tenant Fleet library entry",
        "description": "Onboards a Fleet library entry into the caller's workspace catalog from a GitHub source reference. Requires the `library:write` scope plus ownership of the target workspace. Re-onboarding identical bytes converges on one `(workspace_id, content_hash)` row. The response carries metadata only. ",
        "operationId": "onboard_tenant_fleet_library",
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets": {
      "get": {
        "tags": [
          "Fleets"
        ],
        "summary": "List fleets in a workspace",
        "description": "Returns visible fleets with the newest fleet first. Omit `starting_after` for the first page. Use the returned `next_cursor` to read the next page. ",
        "operationId": "list_fleets",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FleetsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
        "tags": [
          "Fleets"
        ],
        "summary": "Create a fleet",
        "description": "Creates a fleet from one library entry. Use either `platform_library_id` or `tenant_library_id`. The service creates a default API trigger when the library has no trigger. ",
        "operationId": "create_fleet",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstalledFleetResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "424": {
            "description": "A dependency of this request failed"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}": {
      "get": {
        "tags": [
          "Fleets"
        ],
        "summary": "Get a fleet",
        "description": "Returns one fleet's editable source, trigger markdown, bundle pin, trigger list, status, and lifetime counters. The response carries an `ETag` header over `source_markdown` and `trigger_markdown`. Send that value as `If-Match` when saving source changes to avoid overwriting another operator's edit. ",
        "operationId": "get_fleet",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FleetDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "delete": {
        "tags": [
          "Fleets"
        ],
        "summary": "Permanently delete a fleet",
        "description": "Permanently deletes the fleet, events, runs, approvals, grants, keys, and memory. This cannot be undone. Set the fleet status to `killed` first. Otherwise the request returns 409. Requires an operator role. ",
        "operationId": "delete_fleet",
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "patch": {
        "tags": [
          "Fleets"
        ],
        "summary": "Update a fleet",
        "description": "Updates fleet files or status. Every request field is optional. `config_json` and `trigger_markdown` cannot be used together. A killed fleet cannot be changed. Source editors can send `If-Match` with the `ETag` from GET. A stale tag returns 412 with the current tag in the problem body; omitting the header preserves last-write- wins behavior. Status changes require an operator role. Config changes require workspace membership. ",
        "operationId": "patch_fleet",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchedFleetResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "412": {
            "description": "The precondition the caller supplied does not hold"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/events": {
      "get": {
        "tags": [
          "Fleets"
        ],
        "summary": "List a fleet's event history",
        "description": "Returns fleet events with the newest event first. Filter with `actor` or `since`. You cannot use `since` and `cursor` together. ",
        "operationId": "list_fleet_events",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/events/stream": {
      "get": {
        "tags": [
          "Fleets"
        ],
        "summary": "Stream live fleet activity",
        "description": "Opens a Server-Sent Events (SSE) stream for new fleet activity. Each message includes `id`, `event`, and `data`. Identifiers restart at 0 for each connection. The route ignores `Last-Event-ID`. At capacity, the route returns 503 `UZ-API-002` with `Retry-After`. Read missed events before reconnecting. ",
        "operationId": "stream_fleet_events",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/events/{event_id}": {
      "get": {
        "tags": [
          "Fleets"
        ],
        "summary": "Read one fleet event",
        "description": "Returns a single event with its request body and the agent's full answer. The list read beside this one omits both bodies: it returns up to two hundred rows and would carry every payload to render a table. Read the body here, for the one event you are expanding. An event that does not exist and an event belonging to another workspace both answer 404. The two are deliberately indistinguishable. The read is scoped inside its own query, so no caller can probe for events outside its own workspace. ",
        "operationId": "get_fleet_event",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/integration-grants": {
      "get": {
        "tags": [
          "Integration Grants"
        ],
        "summary": "List integration grants for a fleet",
        "description": "Returns pending, approved, and revoked grants, newest first. ",
        "operationId": "list_integration_grants",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GrantsResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/integration-grants/{grant_id}": {
      "delete": {
        "tags": [
          "Integration Grants"
        ],
        "summary": "Revoke an integration grant",
        "description": "Immediately revokes a grant. A revoked grant blocks the fleet on its next call against the affected service. ",
        "operationId": "revoke_integration_grant",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/memories": {
      "get": {
        "tags": [
          "Memory"
        ],
        "summary": "List or search memory entries for a fleet",
        "description": "Returns memory entries for the fleet, newest-created first. Without `query` this lists entries (optionally filtered by `category`). With `query`, performs case-insensitive LIKE search across both `key` and `content` (LIKE metacharacters in `query` are escaped — a query of `%` does NOT return every entry). Every shape pages by keyset: pass the previous response's `next_cursor` as `starting_after` to continue the walk. A null `next_cursor` marks the final page. ",
        "operationId": "list_fleet_memories",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/memories/{key}": {
      "delete": {
        "tags": [
          "Memory"
        ],
        "summary": "Forget a fleet memory entry",
        "description": "Deletes one memory entry for this fleet. The key is scoped to the fleet, so a key from another fleet is not deleted. Missing keys return 404 so an operator can tell a mistyped key from a successful forget. ",
        "operationId": "delete_fleet_memory",
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/messages": {
      "get": {
        "tags": [
          "Fleets"
        ],
        "summary": "List a fleet's chat thread with bodies",
        "description": "Returns the newest chat events first. Each item carries the trigger payload (`request_json`) and the agent's full answer (`response_text`). One request replaces reading the event list and then each event's detail. A page holds at most `limit` items and at most 512 KiB of encoded items. The newest item always ships, even alone. Follow `next_cursor` to read the rest. ",
        "operationId": "list_fleet_messages",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ThreadResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        }
      },
      "post": {
[...]
