{
  "openapi": "3.1.0",
  "info": {
    "title": "agentsfleet Control Plane API",
    "version": "1.0.0",
    "description": "API for managing workspaces, fleets, triggers, and runs.",
    "contact": {
      "name": "agentsfleet",
      "url": "https://agentsfleet.net"
    }
  },
  "servers": [
    {
      "url": "https://api.agentsfleet.net",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Health",
      "description": "System status and readiness probes",
      "x-mintlify": {
        "navigation": "Health"
      }
    },
    {
      "name": "Authentication",
      "description": "Command Line Interface (CLI) sign-in sessions and GitHub sign-in",
      "x-mintlify": {
        "navigation": "Authentication"
      }
    },
    {
      "name": "Workspaces",
      "description": "Create and manage workspaces",
      "x-mintlify": {
        "navigation": "Workspaces"
      }
    },
    {
      "name": "Tenant",
      "description": "Manage tenant provider settings and models",
      "x-mintlify": {
        "navigation": "Tenant"
      }
    },
    {
      "name": "auth-identity-events",
      "description": "Process signed account events from Clerk. This route is not for customer fleets.",
      "x-mintlify": {
        "navigation": "Auth Identity Events"
      }
    },
    {
      "name": "Fleets",
      "description": "Create, configure, and run fleets",
      "x-mintlify": {
        "navigation": "Fleets"
      }
    },
    {
      "name": "Memory",
      "description": "Read and search saved fleet memory",
      "x-mintlify": {
        "navigation": "Memory"
      }
    },
    {
      "name": "Secrets",
      "description": "Manage named secrets for fleets in a workspace",
      "x-mintlify": {
        "navigation": "Secrets"
      }
    },
    {
      "name": "Admin",
      "description": "Manage shared provider keys and models",
      "x-mintlify": {
        "navigation": "Admin"
      }
    },
    {
      "name": "Billing",
      "description": "Read tenant balances and charge records",
      "x-mintlify": {
        "navigation": "Billing"
      }
    },
    {
      "name": "Integration Grants",
      "description": "Manage fleet access to third-party services",
      "x-mintlify": {
        "navigation": "Integration Grants"
      }
    },
    {
      "name": "Connectors",
      "description": "Connect workspaces to third-party providers",
      "x-mintlify": {
        "navigation": "Connectors"
      }
    },
    {
      "name": "Fleet Keys",
      "description": "Manage keys that let external clients call a fleet",
      "x-mintlify": {
        "navigation": "Fleet Keys"
      }
    },
    {
      "name": "API Keys",
      "description": "Manage tenant admin API keys",
      "x-mintlify": {
        "navigation": "API Keys"
      }
    },
    {
      "name": "Webhooks",
      "description": "Receive signed events and approval decisions",
      "x-mintlify": {
        "navigation": "Webhooks"
      }
    },
    {
      "name": "Approvals",
      "description": "List, inspect, and resolve pending approvals",
      "x-mintlify": {
        "navigation": "Approvals"
      }
    },
    {
      "name": "Fleet",
      "description": "Enroll and manage runners",
      "x-mintlify": {
        "navigation": "Fleet"
      }
    },
    {
      "name": "Fleet Bundles",
      "description": "Manage fleet source bundles in a workspace",
      "x-mintlify": {
        "navigation": "Fleet Bundles"
      }
    },
    {
      "name": "Fleet library",
      "description": "Browse and add reusable fleet sources",
      "x-mintlify": {
        "navigation": "Fleet library"
      }
    },
    {
      "name": "Model Library",
      "description": "List models available to the tenant",
      "x-mintlify": {
        "navigation": "Model Library"
      }
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "operationId": "healthz",
        "summary": "Liveness check",
        "description": "Returns 200 as long as the process is alive and able to serve HTTP. Does not probe dependencies — use /readyz for readiness (database + queue).",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Process is alive",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "service",
                    "commit"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "ok",
                      "description": "Always \"ok\" for a live process"
                    },
                    "service": {
                      "type": "string",
                      "const": "agentsfleetd",
                      "description": "Service identifier"
                    },
                    "commit": {
                      "type": "string",
                      "description": "Git commit SHA of the running build"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/metrics": {
      "get": {
        "operationId": "metrics",
        "summary": "Prometheus metrics",
        "description": "Returns Prometheus-format metrics for scraping by monitoring infrastructure.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Prometheus text exposition format",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "operationId": "readyz",
        "summary": "Readiness probe",
        "description": "Returns 200 when the database and event queue are available. Returns 503 when either dependency is unavailable.",
        "tags": [
          "Health"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Both dependencies healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          },
          "503": {
            "description": "At least one dependency is degraded; ready=false and the failing dependency's boolean is false",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReadyzBody"
                }
              }
            }
          }
        }
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "operationId": "list_platform_keys",
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no self-managed key is configured.",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Platform key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys",
                    "request_id"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PlatformKey"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_platform_key",
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a self-managed key stored. The platform key proxies through the referenced workspace's credential.",
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "provider",
                  "source_workspace_id"
                ],
                "properties": {
                  "provider": {
                    "type": "string",
                    "description": "LLM provider name (e.g. openai, anthropic)"
                  },
                  "source_workspace_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Workspace whose self-managed key to use as the platform key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Platform key configured",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "source_workspace_id",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "source_workspace_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "active": {
                      "type": "boolean"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "operationId": "delete_platform_key",
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without self-managed keys will no longer be able to use this provider.",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "LLM provider name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Platform key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "provider",
                    "active",
                    "request_id"
                  ],
                  "properties": {
                    "provider": {
                      "type": "string"
                    },
                    "active": {
                      "type": "boolean",
                      "const": false
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/models": {
      "get": {
        "operationId": "list_admin_models",
        "summary": "List models",
        "description": "Returns every shared model, ordered by provider and model identifier. Requires the `model:read` scope.\n",
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "Catalogue rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "models",
                    "request_id"
                  ],
                  "properties": {
                    "models": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AdminModel"
                      }
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "create_admin_model",
        "summary": "Add a priced model to the catalogue",
        "description": "Creates one catalogue row. `(provider, model_id)` is the row's immutable identity — change either by deleting and re-adding. The rate cache is repopulated on success, so a new price is live with no restart. Requires the `model:admin` scope.\n",
        "tags": [
          "Admin"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "type": "object",
                    "required": [
                      "provider",
                      "model_id"
                    ],
                    "properties": {
                      "provider": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64,
                        "description": "LLM provider name (e.g. openai, anthropic)."
                      },
                      "model_id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 256,
                        "description": "Provider-namespaced model string. May contain `/`."
                      }
                    }
                  },
                  {
                    "$ref": "#/components/schemas/AdminModelRates"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Catalogue row created",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AdminModel"
                    },
                    {
                      "type": "object",
                      "required": [
                        "request_id"
                      ],
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "A catalogue row for this provider and model already exists (`UZ-PROVIDER-008`).",
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/admin/models/{uid}": {
      "patch": {
        "operationId": "update_admin_model",
        "summary": "Update a catalogue row's caps and rates",
        "description": "Rates-only change; `provider` and `model_id` are the row identity and are immutable on this endpoint. The rate cache is repopulated on success. Requires the `model:admin` scope.\n",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the catalogue row.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminModelRates"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Row updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "uid",
                    "updated",
                    "request_id"
                  ],
                  "properties": {
                    "uid": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "updated": {
                      "type": "boolean",
                      "const": true
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No catalogue model matches this uid (`UZ-PROVIDER-006`).",
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_admin_model",
        "summary": "Remove a model",
        "description": "Refuses to remove the active default model. Choose another default first. Requires the `model:admin` scope.\n",
        "tags": [
          "Admin"
        ],
        "parameters": [
          {
            "name": "uid",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the catalogue row.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "No catalogue model matches this uid (`UZ-PROVIDER-006`).",
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "This model is the active platform default; repoint the default before deleting it (`UZ-PROVIDER-007`).",
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "operationId": "create_auth_session",
        "summary": "Start a command-line login session",
        "description": "Starts a command-line sign-in session that lasts 5 minutes. The response includes a URL for approval in a browser.\n\nNo access token is required. Rate limits may return 429.\n",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "public_key",
                  "token_name"
                ],
                "properties": {
                  "public_key": {
                    "type": "string",
                    "description": "Base64url-encoded P-256 SubjectPublicKeyInfo. The CLI's\nephemeral ECDH public key — used by the dashboard to\nderive the AES-256-GCM session key that wraps the JWT.\n"
                  },
                  "token_name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "description": "Operator-facing label for the resulting credential\n(e.g. `macos-cli`, `linux-cli`, `windows-cli`).\nPrintable ASCII; appears in audit events and\n`agentsfleet auth status`.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Auth session created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "session_id",
                    "login_url",
                    "request_id"
                  ],
                  "properties": {
                    "session_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "UUIDv7 session identifier for approval and verification endpoints."
                    },
                    "login_url": {
                      "type": "string",
                      "format": "uri",
                      "description": "Browser approval URL for this login session."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "operationId": "poll_auth_session",
        "summary": "Read a sign-in session",
        "description": "Returns the current sign-in status. No access token is required.\n\nExpired, used, or cancelled sessions return 410 with a stable error code.\n",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "description": "Auth session identifier (UUIDv7)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session is in an active (non-terminal) state",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "cli_public_key",
                    "token_name",
                    "expires_at_ms"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "verification_pending"
                      ],
                      "description": "`pending` — created, awaiting dashboard approval.\n`verification_pending` — dashboard approved, awaiting CLI\nverification code.\n"
                    },
                    "cli_public_key": {
                      "type": "string",
                      "description": "Echo of the CLI's ECDH public key (base64url P-256 SPKI)."
                    },
                    "token_name": {
                      "type": "string",
                      "description": "Operator label that the dashboard shows to the user during approval."
                    },
                    "expires_at_ms": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Unix epoch milliseconds. Session TTL is 5 minutes from creation."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Session expired (`UZ-AUTH-006`) — the 5-minute TTL elapsed before this poll.",
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_auth_session",
        "summary": "Explicit cancel of a single login session",
        "description": "Used by the dashboard's \"cancel this login\" button and by the future\nsessions surface. Transitions the named session to `aborted` with\n`reason=\"explicit_cancel\"`. The Clerk JWT MUST match the session's\n`clerk_user_id` (set on `PATCH /v1/auth/sessions/{id}/approve`);\notherwise 403.\n",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Session aborted"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/approve": {
      "patch": {
        "operationId": "approve_auth_session",
        "summary": "Approve a sign-in session",
        "description": "Approves a pending command-line sign-in session. The dashboard sends encrypted sign-in data and a six-digit verification code.\n\nA second approval for the same session returns 409 `UZ-AUTH-015`.\n",
        "tags": [
          "Authentication"
        ],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "dashboard_public_key",
                  "ciphertext",
                  "nonce",
                  "verification_code"
                ],
                "properties": {
                  "dashboard_public_key": {
                    "type": "string",
                    "description": "Temporary public key used to encrypt the sign-in data."
                  },
                  "ciphertext": {
                    "type": "string",
                    "description": "Encrypted sign-in data."
                  },
                  "nonce": {
                    "type": "string",
                    "description": "Random 12-byte value used for this encrypted message."
                  },
                  "verification_code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "description": "Exactly six digits shown to the user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session is ready for code verification.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "request_id"
                  ],
                  "properties": {
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/{session_id}/verify": {
      "post": {
        "operationId": "verify_auth_session",
        "summary": "Verify a sign-in session",
        "description": "Checks the six-digit code and returns encrypted sign-in data. The code can be used once.\n\nA retry from the same client within 60 seconds returns the same response. Later retries return 410 `UZ-AUTH-012`.\n\n`UZ-AUTH-011` means the code did not match. The fifth failed attempt ends the session.\n`UZ-AUTH-018` means the code was not six digits. `UZ-AUTH-013` means the session ended.\n`UZ-AUTH-014` means approval is pending. `UZ-AUTH-006` means the session expired after 5 minutes.\n",
        "tags": [
          "Authentication"
        ],
        "security": [],
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "verification_code"
                ],
                "properties": {
                  "verification_code": {
                    "type": "string",
                    "pattern": "^[0-9]{6}$",
                    "description": "The 6-digit code the dashboard displayed to the user."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verification succeeded. The response contains encrypted sign-in data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "dashboard_public_key",
                    "ciphertext",
                    "nonce"
                  ],
                  "properties": {
                    "dashboard_public_key": {
                      "type": "string",
                      "description": "Temporary public key from the approval request."
                    },
                    "ciphertext": {
                      "type": "string",
                      "description": "Encrypted sign-in data."
                    },
                    "nonce": {
                      "type": "string",
                      "description": "Random 12-byte value used for this encrypted message."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "410": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/sessions/all": {
      "delete": {
        "operationId": "delete_all_auth_sessions",
        "summary": "Bulk-abort every in-flight login session for the caller",
        "description": "Caller-scoped bulk delete. Enumerates every session with the caller's\n`clerk_user_id` whose status is `pending` or `verification_pending`\nand transitions each to `aborted` with `reason=\"explicit_cancel\"`.\n\nDoes NOT revoke already-minted JWTs — Clerk revocation is a separate\nproblem; an active CLI continues to work until its short-lived JWT\nexpires. This endpoint clears in-flight login sessions only.\n",
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "Sessions aborted (count includes 0 when none were pending)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "aborted_count"
                  ],
                  "properties": {
                    "aborted_count": {
                      "type": "integer",
                      "minimum": 0,
                      "description": "Number of in-flight sessions transitioned to aborted"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/memories": {
      "get": {
        "operationId": "list_fleet_memories",
        "summary": "List or search memory entries for a fleet",
        "description": "Returns memory entries for the fleet. Without `query` this lists most-recent entries (optionally filtered by `category`). With `query`, performs case-insensitive LIKE search across both `key` and `content` (LIKE metacharacters in `query` are escaped — a query of `%` does NOT return every entry).\n",
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "description": "Fuzzy text search across key and content. When omitted, the endpoint lists most-recent entries.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 100,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MemoryEntry"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "request_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/fleets/{fleet_id}/memories/{key}": {
      "delete": {
        "operationId": "delete_fleet_memory",
        "summary": "Forget a fleet memory entry",
        "description": "Deletes one memory entry for this fleet. The key is scoped to the fleet, so a key from another fleet is not deleted.\n\nMissing keys return 404 so an operator can tell a mistyped key from a successful forget.\n",
        "tags": [
          "Memory"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the workspace.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "key",
            "in": "path",
            "required": true,
            "description": "Memory entry key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Memory entry deleted."
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "description": "No memory entry with that key exists for this fleet.",
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/auth/identity-events/clerk": {
      "post": {
        "operationId": "auth_identity_event_clerk",
        "summary": "Receive a Clerk account event",
        "description": "Receives signed account events from Clerk. A `user.created` event creates the user's account and default workspace.\n\nRepeated events return `created:false`. Unsupported event types return 200 with `status: ignored`.\n",
        "tags": [
          "auth-identity-events"
        ],
        "parameters": [
          {
            "name": "svix-id",
            "in": "header",
            "required": true,
            "description": "Svix message identifier (used for deduplication and signature binding).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix timestamp of the Svix delivery (used for replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated list of Svix v1 signatures.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "data"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Clerk event type. Only `user.created` triggers a bootstrap; other types return 200 ignored."
                  },
                  "data": {
                    "type": "object",
                    "description": "Clerk user payload. The handler reads `id`, `email_addresses`,\n`primary_email_address_id`, `first_name`, and `last_name`; unknown fields are tolerated.\n",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Handled. Shape depends on event type: user.created → {workspace_id, workspace_name, created}; user.deleted → {deleted}; any other type → {status: ignored, type}.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "New or existing default workspace identifier."
                    },
                    "workspace_name": {
                      "type": "string",
                      "description": "Heroku-style workspace name, e.g. `jolly-harbor-482`."
                    },
                    "created": {
                      "type": "boolean",
                      "description": "`true` on fresh bootstrap; `false` on idempotent replay."
                    },
                    "deleted": {
                      "type": "boolean",
                      "description": "true on a user.deleted event."
                    },
                    "status": {
                      "type": "string",
                      "description": "`ignored` for event types other than user.created/user.deleted."
                    },
                    "type": {
                      "type": "string",
                      "description": "Echoed Clerk event type on ignored events."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "500": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/ingress/{provider}": {
      "post": {
        "operationId": "ingest_connector_webhook",
        "summary": "Receive a provider event",
        "description": "Receives signed events from a connected provider. GitHub is the supported provider.\n\nA matching event starts runs for subscribed fleets. Duplicate events do not start another run.\n",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider that sent the event.",
            "schema": {
              "type": "string",
              "enum": [
                "github"
              ]
            }
          },
          {
            "name": "X-GitHub-Event",
            "in": "header",
            "required": true,
            "description": "GitHub event type, currently `ping`, `pull_request`, or `workflow_run`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-GitHub-Delivery",
            "in": "header",
            "required": true,
            "description": "Delivery identifier supplied by GitHub.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hub-Signature-256",
            "in": "header",
            "required": true,
            "description": "Hash-based Message Authentication Code (HMAC)-SHA256 of the raw body, prefixed with `sha256=`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "A signed GitHub event body. Events other than `ping` require `installation.id` and `repository.full_name`.",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Valid event that required no fleet run.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "x-stability": "stable",
                          "enum": [
                            "pong",
                            "ignored"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "ignored"
                      ],
                      "properties": {
                        "ignored": {
                          "type": "string",
                          "x-stability": "stable",
                          "enum": [
                            "UZ-WH-021",
                            "UZ-WH-022"
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Event matched at least one fleet.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "matched",
                    "enqueued"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "x-stability": "stable",
                      "enum": [
                        "accepted"
                      ]
                    },
                    "matched": {
                      "type": "integer",
                      "x-stability": "stable",
                      "minimum": 1,
                      "maximum": 100
                    },
                    "enqueued": {
                      "type": "integer",
                      "x-stability": "stable",
                      "minimum": 0,
                      "maximum": 100
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "description": "This API instance reached its in-flight request ceiling. Retry after the advertised delay.",
            "headers": {
              "Retry-After": {
                "description": "Seconds before retrying.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Limit": {
                "description": "Instance in-flight request ceiling.",
                "schema": {
                  "type": "integer",
                  "minimum": 0
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Remaining admission capacity, zero for this response.",
                "schema": {
                  "type": "integer",
                  "enum": [
                    0
                  ]
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp in seconds when immediate retry becomes reasonable.",
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/svix/{fleet_id}": {
      "post": {
        "operationId": "receive_svix_webhook",
        "summary": "Receive a signed Svix event",
        "description": "Receives a signed Svix event for one fleet. A valid new event returns 202.\n\nA duplicate or an event for a paused fleet returns 200.\n",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet receiving the webhook.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "svix-id",
            "in": "header",
            "required": true,
            "description": "Svix message identifier (used for deduplication and signature binding).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "required": true,
            "description": "Unix timestamp of the Svix delivery (used for replay protection).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "required": true,
            "description": "Space-separated list of Svix signatures (v1 scheme).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Opaque event envelope; upstream issuer (Svix) defines the payload shape per event type.",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate event or event ignored because the fleet is paused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "duplicate"
                    },
                    "ignored": {
                      "type": "string",
                      "description": "Reason the event was ignored (e.g. `fleet_paused`)."
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Webhook accepted and queued for processing.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "accepted"
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{fleet_id}": {
      "post": {
        "operationId": "receive_webhook",
        "summary": "Send a signed event to a fleet",
        "description": "Sends a signed event to one fleet. Every request requires a valid provider signature.\n\nA new event returns 202. A duplicate within 24 hours returns `status: duplicate`.\n\nA paused fleet returns `ignored: fleet_paused`. Send the event again after resuming the fleet.\n",
        "tags": [
          "Fleets"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "Fleet identifier returned by fleet creation or `agentsfleet install --library <LIBRARY_ID>`.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "event_id",
                  "type",
                  "data"
                ],
                "properties": {
                  "event_id": {
                    "type": "string",
                    "description": "Unique event identifier. Duplicates within 24 hours are ignored."
                  },
                  "type": {
                    "type": "string",
                    "description": "Event type label (e.g. `email.received`, `push`, `payment.succeeded`)."
                  },
                  "data": {
                    "type": "object",
                    "additionalProperties": true,
                    "description": "Event payload — any JSON object. Passed as-is into the fleet event loop."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate event or event ignored because the fleet is paused.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "duplicate"
                    },
                    "ignored": {
                      "type": "string",
                      "description": "Reason the event was ignored (e.g. `fleet_paused`)."
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Event accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status",
                    "event_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "accepted"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed payload — missing `event_id` or `type`.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "401": {
            "description": "Missing connector settings return `UZ-WH-020`. An invalid signature returns `UZ-WH-010`.\n\nA Slack timestamp outside 5 minutes returns `UZ-WH-011`.\n",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "404": {
            "description": "No active fleet is configured for this source (UZ-WH-001).",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorBody"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{fleet_id}/approval": {
      "post": {
        "operationId": "approval_webhook",
        "summary": "Resolve a fleet approval gate",
        "description": "Called by a human (via email link or Slack action) to approve or reject a paused fleet. Body is HMAC-signed by the issuer; the signature is verified against the fleet's webhook secret.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action_id",
                  "decision"
                ],
                "properties": {
                  "action_id": {
                    "type": "string",
                    "description": "The approval gate's action_id to resolve."
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "deny"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Resolved.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "action_id": {
                      "type": "string"
                    },
                    "decision": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{fleet_id}/grant-approval": {
      "post": {
        "operationId": "grant_approval_webhook",
        "summary": "Approve or reject an integration grant request",
        "description": "Human-in-the-loop approval webhook for integration grant requests (Slack, GitHub, etc.). HMAC-signed.",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_id",
                  "decision",
                  "nonce"
                ],
                "properties": {
                  "grant_id": {
                    "type": "string"
                  },
                  "decision": {
                    "type": "string",
                    "enum": [
                      "approved",
                      "denied"
                    ]
                  },
                  "nonce": {
                    "type": "string",
                    "description": "Single-use anti-replay nonce issued with the approval request."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "grant_id": {
                      "type": "string"
                    },
                    "decision": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/webhooks/{fleet_id}/github": {
      "post": {
        "operationId": "github_webhook",
        "summary": "Receive a signed GitHub event",
        "description": "Verifies the body with the `webhook_secret` field from the workspace's `github` secret.\n\nReviewable `pull_request` events and failed completed `workflow_run` events create fleet events. A delivery identifier remains reserved for 72 hours after acceptance.\n",
        "tags": [
          "Webhooks"
        ],
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "required": true,
            "description": "UUIDv7 of the fleet that owns this webhook receiver.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-GitHub-Event",
            "in": "header",
            "required": true,
            "description": "GitHub event type.",
            "schema": {
              "type": "string",
              "enum": [
                "pull_request",
                "workflow_run"
              ]
            }
          },
          {
            "name": "X-GitHub-Delivery",
            "in": "header",
            "required": true,
            "description": "GitHub-issued delivery UUID. Used as the dedupe key.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hub-Signature-256",
            "in": "header",
            "required": true,
            "description": "HMAC-SHA256 of the raw body, prefixed with `sha256=`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Raw GitHub webhook payload.",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate or ignored event. An ignored event does not reserve its delivery identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "deduped"
                      ],
                      "properties": {
                        "deduped": {
                          "type": "boolean",
                          "const": true
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "ignored"
                      ],
                      "properties": {
                        "ignored": {
                          "type": "string",
                          "description": "Reason the event was ignored."
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "202": {
            "description": "Event accepted and enqueued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "status",
                    "event_id"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "accepted"
                    },
                    "event_id": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/workspaces/{workspace_id}/connectors": {
      "get": {
        "operationId": "connector_catalog",
        "summary": "List connectors for a workspace",
        "description": "Returns the providers available to the workspace. Each item shows whether the provider is ready and connected.\n\nRequires the `connector:read` scope.\n",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Available connectors and their current state.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "archetype",
                      "display_name",
                      "configured",
                      "connected"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Provider identifier."
                      },
                      "archetype": {
                        "type": "string",
                        "description": "Connection method used by the provider.",
                        "enum": [
                          "oauth2",
                          "app_install"
                        ]
                      },
                      "display_name": {
                        "type": "string"
                      },
                      "configured": {
                        "type": "boolean",
                        "description": "True when the provider is ready to connect."
                      },
                      "connected": {
                        "type": "boolean",
                        "description": "True when the workspace is connected."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/connectors/{provider}/connect": {
      "post": {
        "operationId": "connector_connect",
        "summary": "Get a provider connection URL",
        "description": "Returns a URL for connecting the workspace to the provider. Open the URL in a browser.\n\nAn unknown provider returns 404 `UZ-CONN-004`. An unavailable provider returns 503 `UZ-CONN-001`.\n",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider identifier, such as `slack` or `github`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection URL created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "install_url"
                  ],
                  "properties": {
                    "install_url": {
                      "type": "string",
                      "description": "URL to open in the user's browser."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/workspaces/{workspace_id}/connectors/{provider}": {
      "get": {
        "operationId": "connector_status",
        "summary": "Read a connector status",
        "description": "Returns `connected` or `not_connected` for one provider. Requires the `connector:read` scope.\n\nAn unknown provider returns 404 `UZ-CONN-004`.\n",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "description": "Workspace identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider identifier, such as `slack` or `github`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connector status.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "connected",
                        "not_connected"
                      ]
                    },
                    "team": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Connected Slack workspace name. Null for other providers."
                    },
                    "label": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Provider label when available."
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/connectors/{provider}/callback": {
      "get": {
        "operationId": "connector_callback",
        "summary": "Complete a provider connection",
        "description": "The provider sends the user's browser here after approval. A valid callback connects the workspace and returns the browser to the dashboard.\n\nInvalid, expired, or reused state returns 400 `UZ-CONN-002`. A provider timeout returns `UZ-CONN-003`.\n",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "Provider identifier, such as `slack` or `github`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "description": "One-time value supplied through the connection URL.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "description": "Authorization code supplied by the provider when required.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation_id",
            "in": "query",
            "required": false,
            "description": "Installation identifier supplied by providers such as GitHub.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connected without a dashboard redirect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "status"
                  ],
                  "properties": {
                    "status": {
                      "type": "string",
                      "const": "connected"
                    }
                  }
                }
              }
            }
          },
          "302": {
            "description": "Connected. The browser returns to the dashboard.",
            "headers": {
              "Location": {
                "description": "Dashboard connectors page.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "502": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/connectors/slack/events": {
      "post": {
        "operationId": "slack_events",
        "summary": "Receive Slack events",
        "description": "Slack sends signed events to this route. Users do not call this route.\n\nAn invalid signature returns 401 `UZ-SLK-010`. A timestamp outside 5 minutes returns 401 `UZ-SLK-011`.\n",
        "tags": [
          "Connectors"
        ],
        "parameters": [
          {
            "name": "X-Slack-Signature",
            "in": "header",
            "required": true,
            "description": "Slack request signature. Slack supplies this value.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Slack-Request-Timestamp",
            "in": "header",
            "required": true,
            "description": "Delivery time in Unix seconds. Values outside 5 minutes are rejected.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Slack event or URL verification request.",
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accepted, duplicate, verification, or ignored response.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "status"
                      ],
                      "properties": {
                        "status": {
                          "type": "string",
                          "enum": [
                            "accepted",
                            "duplicate"
                          ]
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "challenge"
                      ],
                      "properties": {
                        "challenge": {
                          "type": "string",
                          "description": "Value returned for Slack URL verification."
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "ignored"
                      ],
                      "properties": {
                        "ignored": {
                          "type": "string",
                          "const": "UZ-SLK-020"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "413": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": []
      }
    },
    "/v1/workspaces": {
      "post": {
        "operationId": "create_workspace",
        "summary": "Create a workspace",
        "description": "Creates a workspace in the caller's tenant. An empty body uses a server-assigned name.",
        "tags": [
          "Workspaces"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Human-readable workspace name. Must be unique within the tenant. If omitted, the server assigns a Heroku-style name (e.g. `jolly-harbor-482`)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "workspace_id",
                    "name",
                    "request_id"
                  ],
                  "properties": {
                    "workspace_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique workspace identifier"
                    },
                    "name": {
                      "type": "string",
                      "description": "Human-readable workspace name. Always present — caller-supplied or server-generated Heroku-style."
                    },
                    "request_id": {
                      "type": "string",
                      "description": "Unique request identifier"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/billing": {
      "get": {
        "operationId": "get_tenant_billing",
        "summary": "Read the tenant balance",
        "description": "Returns the balance shared by every workspace in the tenant. The response also shows whether the balance is empty and whether a free trial is active.\n",
        "tags": [
          "Billing"
        ],
        "responses": {
          "200": {
            "description": "Current tenant balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "balance_nanos",
                    "updated_at",
                    "is_exhausted",
                    "exhausted_at",
                    "free_trial"
                  ],
                  "properties": {
                    "balance_nanos": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Remaining tenant balance in nanos."
                    },
                    "updated_at": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Last update time in Unix milliseconds."
                    },
                    "is_exhausted": {
                      "type": "boolean",
                      "description": "True after a charge reduces the balance to zero."
                    },
                    "exhausted_at": {
                      "type": "integer",
                      "format": "int64",
                      "nullable": true,
                      "description": "Time of the first zero balance in Unix milliseconds. Null until then."
                    },
                    "free_trial": {
                      "type": "object",
                      "description": "Current free-trial state.",
                      "required": [
                        "active",
                        "ends_at_ms"
                      ],
                      "properties": {
                        "active": {
                          "type": "boolean",
                          "description": "True while the free trial is active."
                        },
                        "ends_at_ms": {
                          "type": "integer",
                          "format": "int64",
                          "description": "Free-trial end time in Unix milliseconds."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/billing/charges": {
      "get": {
        "operationId": "get_tenant_billing_charges",
        "summary": "List tenant charges",
        "description": "Returns charge records with the newest record first. Use `limit` and `cursor` to read more records.\n",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return. The default is 50. Valid values are 1 through 200.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Token from `next_cursor` in the previous response. Omit it for the first page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tenant charge records with the newest record first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "next_cursor"
                  ],
                  "properties": {
                    "next_cursor": {
                      "type": "string",
                      "nullable": true,
                      "description": "Token for the next page. Null when no records remain."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "tenant_id",
                          "workspace_id",
                          "fleet_id",
                          "event_id",
                          "charge_type",
                          "posture",
                          "model",
                          "credit_deducted_nanos",
                          "recorded_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "tenant_id": {
                            "type": "string"
                          },
                          "workspace_id": {
                            "type": "string"
                          },
                          "fleet_id": {
                            "type": "string"
                          },
                          "event_id": {
                            "type": "string"
                          },
                          "charge_type": {
                            "type": "string",
                            "enum": [
                              "receive",
                              "stage"
                            ]
                          },
                          "posture": {
                            "type": "string",
                            "enum": [
                              "platform",
                              "self_managed"
                            ]
                          },
                          "model": {
                            "type": "string"
                          },
                          "credit_deducted_nanos": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "token_count_input": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "token_count_output": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "wall_ms": {
                            "type": "integer",
                            "format": "int64",
                            "nullable": true
                          },
                          "recorded_at": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/billing/charges/{event_id}/telemetry": {
      "get": {
        "operationId": "get_tenant_metering_periods",
        "summary": "List details for one charge",
        "description": "Returns the detail records for one charge, oldest first. An unknown `event_id` returns an empty `items` list.\n",
        "tags": [
          "Billing"
        ],
        "parameters": [
          {
            "name": "event_id",
            "in": "path",
            "description": "Event identifier from a `get_tenant_billing_charges` response.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Charge details for the requested event.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "slice_seq",
                          "d_input_tokens",
                          "d_cached_tokens",
                          "d_output_tokens",
                          "run_ms",
                          "run_fee_nanos",
                          "token_cost_nanos",
                          "charged_nanos",
                          "created_at"
                        ],
                        "properties": {
                          "slice_seq": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "d_input_tokens": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "d_cached_tokens": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "d_output_tokens": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "run_ms": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "run_fee_nanos": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "token_cost_nanos": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "charged_nanos": {
                            "type": "integer",
                            "format": "int64"
                          },
                          "created_at": {
                            "type": "integer",
                            "format": "int64"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/workspaces": {
      "get": {
        "operationId": "list_tenant_workspaces",
        "summary": "List every workspace the caller's tenant owns",
        "description": "Returns the full set of workspaces owned by the caller's tenant. Backs the dashboard workspace switcher: a user can switch to any workspace in this list without re-issuing the JWT, because workspace authorisation is tenant-scoped. No pagination — a tenant's workspace count is bounded and small in practice.\n",
        "tags": [
          "Workspaces"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "total"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "name",
                          "created_at"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "UUIDv7 of the workspace."
                          },
                          "name": {
                            "type": "string",
                            "nullable": true,
                            "description": "Human-readable workspace name. Nullable — pre-rename workspaces may not have one."
                          },
                          "created_at": {
                            "type": "integer",
                            "format": "int64",
                            "description": "Workspace creation time (epoch ms)."
                          }
                        }
                      }
                    },
                    "total": {
                      "type": "integer",
                      "description": "Count of items returned."
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/provider": {
      "get": {
        "operationId": "get_tenant_provider",
        "summary": "Read tenant model provider settings",
        "description": "Returns the tenant's provider mode, provider name, model, context limit, and credential reference. Secret values are never returned.\n",
        "tags": [
          "Tenant"
        ],
        "responses": {
          "200": {
            "description": "Provider config",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "put": {
        "operationId": "put_tenant_provider",
        "summary": "Set tenant model provider",
        "description": "Sets the provider mode and model. Self-managed mode requires a `credential_ref` that names an existing secret.\nIf the model entry does not exist, this request creates it.\n",
        "tags": [
          "Tenant"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "mode"
                ],
                "properties": {
                  "mode": {
                    "type": "string",
                    "enum": [
                      "platform",
                      "self_managed"
                    ]
                  },
                  "credential_ref": {
                    "type": "string",
                    "nullable": true,
                    "description": "User-named vault key. Required when mode=self_managed."
                  },
                  "model": {
                    "type": "string",
                    "nullable": true,
                    "description": "Optional model override. Falls back to the credential's stored model when absent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Provider config after upsert",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "delete": {
        "operationId": "delete_tenant_provider",
        "summary": "Reset tenant LLM provider to platform default",
        "description": "Equivalent to `PUT {mode: \"platform\"}`. Writes the explicit mode=platform row so the dashboard can distinguish \"never configured\" from \"explicitly reset\".\n",
        "tags": [
          "Tenant"
        ],
        "responses": {
          "200": {
            "description": "Provider config after reset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderConfig"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tenants/me/models": {
      "get": {
        "operationId": "list_tenant_model_entries",
        "summary": "List the tenant's model registry",
        "description": "One entry per configured model; two entries can share a `secret_ref`. Each entry is joined to its secret's non-secret metadata (provider, kind, base_url, has_key) — `api_key` is never serialised. `active` is computed against the tenant's current provider selection (`GET /v1/tenants/me/provider`). Before listing, a pre-registry activation with no matching entry is synthesized idempotently, so the registry self-heals with no separate backfill.\n",
[...]
