{
  "openapi": "3.1.0",
  "info": {
    "title": "agentsfleet Control Plane API",
    "description": "API for managing workspaces, fleets, triggers, and runs.",
    "contact": {
      "name": "agentsfleet",
      "url": "https://agentsfleet.net"
    },
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.agentsfleet.net",
      "description": "Production"
    }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Liveness check",
        "description": "Returns 200 as long as the process is alive and able to serve HTTP. Does not probe dependencies — use /readyz for readiness (database + queue). ",
        "operationId": "healthz",
        "responses": {
          "200": {
            "description": "The process is alive"
          }
        },
        "security": []
      }
    },
    "/readyz": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Readiness probe",
        "description": "Returns 200 when the database and event queue are available, and 503 when either is not. Never shed: an orchestrator that cannot reach this because the instance is busy learns nothing it can act on. ",
        "operationId": "readyz",
        "responses": {
          "200": {
            "description": "Every dependency this instance needs is reachable"
          },
          "503": {
            "description": "A dependency this instance needs is unreachable"
          }
        },
        "security": []
      }
    },
    "/v1/admin/fleet-libraries": {
      "get": {
        "tags": [
          "Fleet library"
        ],
        "summary": "List the platform Fleet library catalog",
        "description": "Lists every entry in the global platform catalog. Published, draft, and entries whose bundle was never fetched all appear. Unlike the workspace gallery, this operator view hides nothing: it shows what is live and what still needs work. Requires the `platform- library:write` scope. Metadata only — never bundle markdown, a support-file body, or an object-store key. Each row carries an `etag` that an editor can send as `If-Match` on PATCH. ",
        "operationId": "list_platform_fleet_library",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminLibrariesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Fleet library"
        ],
        "summary": "Onboard a platform Fleet library entry",
        "description": "Onboards a Fleet library entry into the global platform catalog from a GitHub source reference. Requires the `platform-library:write` scope. The canonical bundle is written to internal object storage keyed by content hash; the response carries metadata only — never an object-store key or support-file content. ",
        "operationId": "onboard_platform_fleet_library",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminLibraryCreated"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/admin/fleet-libraries/{id}": {
      "delete": {
        "tags": [
          "Fleet library"
        ],
        "summary": "Delete an unpublished platform Fleet library entry",
        "description": "Removes a catalog entry. Only an entry that is NOT published may be deleted. A live fleet is never taken away from the tenants who can install it, so unpublish it first. Workspaces that already installed the fleet are unaffected: an install snapshots the bundle, so it keeps running. Requires the `platform-library:write` scope. ",
        "operationId": "delete_platform_fleet_library",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Fleet library"
        ],
        "summary": "Curate, publish, or unpublish a platform Fleet library entry",
        "description": "Partial update. `description` and `required_credentials_reasons` are the two fields no bundle can supply, so they are operator-owned: a later bundle refetch never overwrites them. `published` moves the entry between `draft` (stored, invisible to every tenant) and `public` (live in every workspace gallery and installable). Publishing an entry whose bundle was never fetched is refused — a published entry always has something to install. Requires the `platform-library:write` scope. Send `If-Match` with the row's `etag` to reject stale edits before they can repoint the source or unpublish the entry. Omitting the header preserves last-write-wins behavior. ",
        "operationId": "update_platform_fleet_library",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "description": "Optional catalog row version from the list response. Stale values return 412 with the current `etag`.",
            "required": false,
            "schema": {
              "type": [
                "string",
                "null"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "412": {
            "description": "The precondition the caller supplied does not hold"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/admin/models": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List models",
        "description": "Returns every shared model, ordered by provider and model identifier. Requires the `model:read` scope. ",
        "operationId": "list_admin_models",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminModelsResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Add a priced model to the catalogue",
        "description": "Creates one catalogue row. `(provider, model_id)` is the row's immutable identity — change either by deleting and re-adding. The rate cache is repopulated on success, so a new price is live with no restart. Requires the `model:admin` scope. ",
        "operationId": "create_admin_model",
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminModelCreated"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/admin/models/{id}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Remove a model",
        "description": "Refuses to remove the active default model. Choose another default first. Requires the `model:admin` scope. ",
        "operationId": "delete_admin_model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Update a catalogue row's caps and rates",
        "description": "Rates-only change; `provider` and `model_id` are the row identity and are immutable on this endpoint. The rate cache is repopulated on success. Requires the `model:admin` scope. ",
        "operationId": "update_admin_model",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminModelUpdated"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/admin/platform-keys": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "List platform LLM keys",
        "description": "Lists all configured platform-wide LLM provider keys. These are shared keys that workspaces fall back to when no self-managed key is configured. ",
        "operationId": "list_platform_keys",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformKeysResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Admin"
        ],
        "summary": "Set a platform LLM key",
        "description": "Configures a platform-wide LLM provider key by referencing a workspace that has a self-managed key stored. The platform key proxies through the referenced workspace's credential. ",
        "operationId": "put_platform_key",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformKeySetResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/admin/platform-keys/{provider}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete a platform LLM key",
        "description": "Removes a platform-wide LLM provider key. Workspaces without self- managed keys will no longer be able to use this provider. ",
        "operationId": "delete_platform_key",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Provider identifier, such as `slack` or `github`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlatformKeyDeactivateResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/api-keys": {
      "get": {
        "tags": [
          "API Keys"
        ],
        "summary": "List tenant API keys",
        "description": "Returns metadata for every tenant API key visible to the caller, under Stripe-style keyset pagination. The cursor carries the boundary sort value, so every allowlisted sort pages without loss. The retired page and page_size parameters are refused. Results are always scoped to the caller's tenant; `key_hash` is never returned. ",
        "operationId": "list_api_keys",
        "parameters": [
          {
            "name": "starting_after",
            "in": "query",
            "description": "An opaque cursor from a previous page's `next_cursor`, issued under the same sort.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponse_ApiKeySummary"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "API Keys"
        ],
        "summary": "Mint a tenant API key",
        "description": "Creates a tenant admin key with the `agt_t` prefix. The raw key is returned once. Only its SHA-256 hash is saved. ",
        "operationId": "create_api_key",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MintApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintedApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/api-keys/{id}": {
      "delete": {
        "tags": [
          "API Keys"
        ],
        "summary": "Delete a revoked tenant API key",
        "description": "Deletes a revoked tenant API key. An active key returns 409 `UZ- APIKEY-008`. ",
        "operationId": "delete_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke a tenant API key",
        "description": "Partial lifecycle update. Body must be `{\"active\": false}` — re- activation is not supported; mint a new key instead. Sets `revoked_at` and `updated_at`. ",
        "operationId": "revoke_api_key",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevokedApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/auth/identity-events/clerk": {
      "post": {
        "tags": [
          "auth-identity-events"
        ],
        "summary": "Receive a Clerk account event",
        "description": "Receives signed account events from Clerk. A `user.created` event creates the user's account and default workspace. Repeated events return `created:false`. Unsupported event types return 200 with `status: ignored`. ",
        "operationId": "auth_identity_event_clerk",
        "parameters": [
          {
            "name": "svix-id",
            "in": "header",
            "description": "Svix message identifier (used for deduplication and signature binding).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "description": "Unix timestamp of the Svix delivery (used for replay protection).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "description": "Space-separated list of Svix v1 signatures.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Ignored"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": []
      }
    },
    "/v1/auth/sessions": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Start a command-line login session",
        "description": "Starts a command-line sign-in session that lasts 5 minutes. The response includes a URL for approval in a browser. No access token is required. Rate limits may return 429. ",
        "operationId": "create_auth_session",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OpenSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": []
      }
    },
    "/v1/auth/sessions/all": {
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Bulk-abort every in-flight login session for the caller",
        "description": "Caller-scoped bulk delete. Enumerates every session with the caller's `clerk_user_id` whose status is `pending` or `verification_pending` and transitions each to `aborted` with `reason=\"explicit_cancel\"`. Does NOT revoke already-minted JWTs — Clerk revocation is a separate problem; an active CLI continues to work until its short-lived JWT expires. This endpoint clears in- flight login sessions only. ",
        "operationId": "delete_all_auth_sessions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAllSessionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/auth/sessions/{session_id}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Read a sign-in session",
        "description": "Returns the current sign-in status. No access token is required. Expired, used, or cancelled sessions return 410 with a stable error code. ",
        "operationId": "poll_auth_session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "`UUIDv7` of the login session.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PollSessionResponse"
                }
              }
            }
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "410": {
            "description": "The resource is gone and will not return"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": []
      },
      "delete": {
        "tags": [
          "Authentication"
        ],
        "summary": "Explicit cancel of a single login session",
        "description": "Used by the dashboard's \"cancel this login\" button and by the future sessions surface. Transitions the named session to `aborted` with `reason=\"explicit_cancel\"`. The Clerk JWT MUST match the session's `clerk_user_id` (set on `PATCH /v1/auth/sessions/{id}/approve`); otherwise 403. ",
        "operationId": "delete_auth_session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "`UUIDv7` of the login session.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/auth/sessions/{session_id}/approve": {
      "patch": {
        "tags": [
          "Authentication"
        ],
        "summary": "Approve a sign-in session",
        "description": "Approves a pending command-line sign-in session. The dashboard sends encrypted sign-in data and a six-digit verification code. A second approval for the same session returns 409 `UZ-AUTH-015`. ",
        "operationId": "approve_auth_session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "`UUIDv7` of the login session.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveSessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApproveSessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "410": {
            "description": "The resource is gone and will not return"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/auth/sessions/{session_id}/verify": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify a sign-in session",
        "description": "Checks the six-digit code and returns encrypted sign-in data. The code can be used once. A retry from the same client within 60 seconds returns the same response. Later retries return 410 `UZ- AUTH-012`. `UZ-AUTH-011` means the code did not match. The fifth failed attempt ends the session. `UZ-AUTH-018` means the code was not six digits. `UZ-AUTH-013` means the session ended. `UZ-AUTH-014` means approval is pending. `UZ-AUTH-006` means the session expired after 5 minutes. ",
        "operationId": "verify_auth_session",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "description": "`UUIDv7` of the login session.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifySessionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifySessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "410": {
            "description": "The resource is gone and will not return"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": []
      }
    },
    "/v1/cli-credentials": {
      "post": {
        "tags": [
          "CLI Credentials"
        ],
        "summary": "Mint a command-line credential",
        "description": "Creates a durable credential for one machine, with the `afc_` prefix. The raw credential is returned once. Only its SHA-256 hash is saved, so it cannot be read back later. A credential belongs to a person, not to a team. Call this with a browser session token or with an existing command-line credential. A tenant API key is refused. Minting revokes whatever credential the same machine name already held. One machine holds one live credential at a time. ",
        "operationId": "create_cli_credential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MintCliCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintedCliCredentialResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/cli-credentials/{id}": {
      "delete": {
        "tags": [
          "CLI Credentials"
        ],
        "summary": "Revoke a command-line credential",
        "description": "Retires one of your credentials. The terminal holding it is refused on its next call, with the code `UZ-AUTH-023`. Running `agentsfleet logout` calls this for the credential on that machine. Browser sessions are untouched, so signing out of a terminal does not sign you out of the dashboard. ",
        "operationId": "revoke_cli_credential",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/connectors/{provider}/callback": {
      "get": {
        "tags": [
          "Connectors"
        ],
        "summary": "Relay a provider callback to the dashboard",
        "description": "Compatibility URL for provider registrations that still target the API host. It forwards the browser to the dashboard callback with a fixed legacy marker. The authenticated endpoint uses that marker only to echo the old redirect URL during token exchange. This endpoint never exchanges a provider code or changes connector data. New provider registrations use `https://<APP_HOST>/api/connectors/{provider}/callback` for the matching environment. The dashboard posts the current Bearer token to the authenticated callback completion method. ",
        "operationId": "connector_callback",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Provider identifier, such as `slack` or `github`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Signed one-time value supplied through the connection URL.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Authorization code supplied by the provider when required.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation_id",
            "in": "query",
            "description": "Installation identifier supplied by providers such as GitHub.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Provider data-center location supplied by multi-region providers such as Zoho.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "302": {
            "description": "Redirect back to the caller that began the flow"
          },
          "400": {
            "description": "The request could not be read"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": []
      },
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Complete a provider connection",
        "description": "The dashboard calls this endpoint after the provider returns to the browser. The caller needs `connector:write` and must be the same person who started the signed connection state. The signed state binds the workspace, a keyed tag of the starter identity, a nonce, and expiry. The endpoint verifies identity and workspace access before consuming the nonce or exchanging a provider code. ",
        "operationId": "connector_callback_complete",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Provider identifier, such as `slack` or `github`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "description": "Signed one-time value supplied through the connection URL.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Authorization code supplied by the provider when required.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "installation_id",
            "in": "query",
            "description": "Installation identifier supplied by providers such as GitHub.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Provider data-center location supplied by multi-region providers such as Zoho.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "callback_source",
            "in": "query",
            "description": "Fixed compatibility marker added by the legacy API relay. Browser callers omit it.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "302": {
            "description": "Redirect back to the caller that began the flow"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/connectors/{provider}/events": {
      "post": {
        "tags": [
          "Connectors"
        ],
        "summary": "Receive Slack events",
        "description": "Slack sends signed events to this route. Users do not call this route. An invalid signature returns 401 `UZ-SLK-010`. A timestamp outside 5 minutes returns 401 `UZ-SLK-011`. ",
        "operationId": "slack_events",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Provider identifier, such as `slack` or `github`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Slack-Signature",
            "in": "header",
            "description": "Slack request signature. Slack supplies this value.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Slack-Request-Timestamp",
            "in": "header",
            "description": "Delivery time in Unix seconds. Values outside 5 minutes are rejected.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/fleets/bundles": {
      "get": {
        "tags": [
          "Fleet Bundles"
        ],
        "summary": "List the platform Fleet library catalog",
        "description": "Returns the first-party (platform) Fleet library catalog. Rows contain only metadata and requirement hints; they carry no credential values or object-store keys. The workspace gallery union lives at GET /v1/workspaces/{workspace_id}/fleet-libraries. ",
        "operationId": "list_fleet_bundles",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FleetBundlesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/fleets/runners": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "List fleet runners",
        "description": "Platform-admin operator-plane read of the whole fleet, newest first over the composite (created_at, id) key. Under keyset pagination a runner enrolled mid-traversal never repeats or hides a row. The retired page, page_size and sort parameters are refused. Each row carries a derived `liveness` — never the stored auth state, never the token hash. ",
        "operationId": "list_fleet_runners",
        "parameters": [
          {
            "name": "starting_after",
            "in": "query",
            "description": "An opaque cursor from a previous page's `next_cursor`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page (1-100).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnersResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/fleets/runners/{runner_id}": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "Get a fleet runner",
        "description": "Platform-admin read of a single runner. Carries the summary fields, a live-work snapshot, and lifetime counters from durable lease and event rows — never from in-memory metrics. The runner detail page loads from this read. ",
        "operationId": "get_fleet_runner",
        "parameters": [
          {
            "name": "runner_id",
            "in": "path",
            "description": "`UUIDv7` of the runner.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerDetail"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Fleet"
        ],
        "summary": "Administer a fleet runner",
        "description": "Platform-admin mutation on a single runner. The body carries exactly one of `action` or `assigned_policy`. `action` moves the admin state: `cordon` to cordoned, `drain` to draining, `revoke` to revoked. Revoked is terminal; a revoked runner cannot transition back. `self_test` moves no state. It records a request for the runner to test its own sandbox. The host picks the request up on its next heartbeat and answers on a later one. The reply is the recorded request, never a verdict. A revoked runner refuses it with 409 `UZ- RUN-018`, since it will never heartbeat again. `assigned_policy` re- assigns the runner's policy, and the host picks it up on its next heartbeat. Sending the same policy again changes nothing and records no event. ",
        "operationId": "patch_fleet_runner",
        "parameters": [
          {
            "name": "runner_id",
            "in": "path",
            "description": "`UUIDv7` of the runner.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunnerAdminPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerAdminPatchResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/fleets/runners/{runner_id}/events": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "List fleet runner events",
        "description": "Platform-admin read of a single runner's append-only history, newest first over the composite (occurred_at, id) key. The retired page and page_size parameters are refused. Optionally filtered by event type and an occurred-at millisecond window. ",
        "operationId": "list_fleet_runner_events",
        "parameters": [
          {
            "name": "runner_id",
            "in": "path",
            "description": "`UUIDv7` of the runner.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "An opaque cursor from a previous page's `next_cursor`.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page (1-100).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_type",
            "in": "query",
            "description": "Filter to one runner event type, or a comma-separated set returning the union (multi-value equality). Allowed tags: runner_registered, runner_online, runner_offline, lease_acquired, lease_released, runner_cordoned, runner_draining, runner_drained, runner_revoked. An unrecognised tag or an empty value refuses the whole request.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "Lower bound on occurred_at, epoch milliseconds (inclusive).",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "until",
            "in": "query",
            "description": "Upper bound on occurred_at, epoch milliseconds (inclusive). Must be >= since.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunnerEventsResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/fleets/runners/{runner_id}/leases": {
      "get": {
        "tags": [
          "Fleet"
        ],
        "summary": "List a runner's leases",
        "description": "Platform-admin read of a single runner's lease history, newest first. Each lease is joined to its Fleet event, so outcome and failure cause arrive in one round trip. Stripe-style keyset pagination — `starting_after` is a lease id from a previous page's `next_cursor`. Settled leases are retained for 30 days. The window is measured from settlement, not from acquisition. A lease acquired long ago and settled yesterday keeps its full window. A background sweep deletes them past that window. A lease still running or renewing is never swept. The per-lease activity records (`lease_acquired`, `lease_released`) are swept on the same 30-day window. Each record ages from when it occurred, not from its lease's settlement. A long run's opening record can therefore be pruned shortly before its lease row. The runner's lifecycle activity is kept at any age, so a long-lived runner's feed never empties. A lease whose runner died without reporting is marked expired once it passes the same window. It then keeps its own window, like any settled lease. The lifetime totals on `GET /v1/fleets/runners/{id}` are unaffected by any of this. They count transitions as they happen, not surviving rows. A long-lived runner's `leases_acquired` will therefore exceed what this endpoint returns. ",
        "operationId": "list_fleet_runner_leases",
        "parameters": [
          {
            "name": "runner_id",
            "in": "path",
            "description": "`UUIDv7` of the runner.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "A lease id this runner holds; the page starts strictly after it. A lease id the runner does not hold is refused. So is one outside the `workspace_id` or `fleet` filters when those filters are set. The cursor names a position in the filtered stream, so it must belong to it. A cursor whose lease the retention sweep has since deleted is refused for the same reason — start again from the first page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "description": "Narrow the page and total to leases owned by one workspace. A malformed id is refused; an unknown one matches nothing.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fleet",
            "in": "query",
            "description": "Narrow the page and total to leases run for one fleet, named by its id or its exact name (case-insensitive). Combines with `workspace_id`; the two filters intersect. An empty or over-long value is refused; a value no fleet matches returns nothing.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page (1-100).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/ingress/qstash/schedules": {
      "post": {
        "tags": [
          "Schedules"
        ],
        "summary": "Receive a scheduled fire",
        "description": "Receives a signed fire from Upstash QStash and appends a `cron` event to the target Fleet. A valid duplicate, missing, inactive, or stale fire is accepted without appending an event. ",
        "operationId": "ingest_qstash_schedule",
        "parameters": [
          {
            "name": "Upstash-Signature",
            "in": "header",
            "description": "QStash signature over the exact request body and destination URL.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upstash-Schedule-Id",
            "in": "header",
            "description": "Schedule identifier supplied by QStash.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Upstash-Message-Id",
            "in": "header",
            "description": "QStash delivery identifier used for replay suppression.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fired"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": []
      }
    },
    "/v1/ingress/{provider}": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Receive a provider event",
        "description": "Receives signed events from a connected provider. GitHub is the supported provider. A matching event starts runs for subscribed fleets. Duplicate events do not start another run. Repair pull requests and workflow results update repair evidence without starting another run. A terminal production `deployment_status` records the deployed commit and schedules eligible verification fleets. ",
        "operationId": "ingest_connector_webhook",
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "description": "Provider identifier, such as `slack` or `github`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-GitHub-Event",
            "in": "header",
            "description": "GitHub event type, currently `ping`, `pull_request`, `workflow_run`, or `deployment_status`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-GitHub-Delivery",
            "in": "header",
            "description": "Delivery identifier supplied by GitHub.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Hub-Signature-256",
            "in": "header",
            "description": "Hash-based Message Authentication Code (HMAC)-SHA256 of the raw body, prefixed with `sha256=`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pong"
                }
              }
            }
          },
          "202": {
            "description": "Accepted for publication; a subscriber reading it is a separate event",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Pong"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "413": {
            "description": "The payload is over this route's ceiling"
          },
          "429": {
            "description": "The instance is at its ceiling"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": []
      }
    },
    "/v1/models": {
      "get": {
        "tags": [
          "Model Library"
        ],
        "summary": "List available models",
        "description": "Returns models available to the tenant. Each item includes its provider, context limit, and usage fields. An empty library returns an empty array. A bounded keyset page ordered by normalized `model_id`, then normalized `provider`, then an opaque row identity. Every comparison runs under `COLLATE \"C\"`, so the order is byte-wise and stable across locales. Follow `next_cursor` to read the whole catalogue; a client that reads only the first page silently loses every model past it. The response is conditionally revalidated. Every answer carries an `ETag` over the exact bytes served, plus `Cache-Control: private, no-cache` and `Vary: Authorization`. Send the tag back as `If-None-Match` and a match answers `304` with no body and the same headers. `private` is what stops a shared proxy handing one tenant's response to another even though the payload is identical for every authorized caller. ",
        "operationId": "get_model_library",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "description": "Exact match on the normalized provider. At most 128 bytes once\nnormalized; empty after normalization is treated as absent.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Opaque cursor from a previous page's `next_cursor`, bound to the filters\nand page size that produced it. Only the sort boundary is read from it —\nthe filters applied are always the request's.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Rows per page, 1..100. Defaults to 50.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "304": {
            "description": "Not modified — the entity tag the caller presented still holds"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners": {
      "post": {
        "tags": [
          "Fleet"
        ],
        "summary": "Register a runner",
        "description": "Enrolls a runner into the fleet and assigns its policy. Requires an existing operator credential (Clerk JWT or `agt_t` API key with admin role); there is no enrollment token. Mints a durable `agt_r` runner token, returned once, and stores only its SHA-256 hash. The host applies the policy assigned here and never declares its own. ",
        "operationId": "register_runner",
        "responses": {
          "201": {
            "description": "Runner registered; the bearer token is returned exactly once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegisterResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me": {
      "get": {
        "tags": [
          "Runners"
        ],
        "summary": "Read this runner's own row",
        "description": "Answers the row this host enrolled as: its status, its assigned policy, and what its kernel can actually enforce. Reading it does NOT bump liveness — the heartbeat writes that and nothing else does, so inspecting a host can never mask a dead runner. ",
        "operationId": "get_runner_self",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me/bundles/{content_hash}": {
      "get": {
        "tags": [
          "Fleet Bundles"
        ],
        "summary": "Fetch a fleet's support-file bundle",
        "description": "The canonical tar a runner materialises support files from, addressed by content hash. The daemon proxies it because the runner holds no object-store keys. A hash is not a name anybody can guess, so the snapshot is not scoped to a runner, a fleet or a tenant. ",
        "operationId": "runner_fetch_bundle",
        "parameters": [
          {
            "name": "content_hash",
            "in": "path",
            "description": "Content hash of the bundle.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me/credentials/mint": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Mint a credential for a declared tool",
        "description": "Issued at the moment a tool needs one, scoped to what the lease already proved. The body names no workspace. The credential is minted against the lease the caller holds, so a runner cannot ask for material outside its own run. ",
        "operationId": "runner_mint_credential",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MintCredentialRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MintCredentialResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me/heartbeats": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Report liveness, receive assignment",
        "description": "Liveness up, configuration down. The assignment rides every reply. An operator's dashboard change therefore reaches the host within one interval, and nobody visits the host. An unreadable body is read as `no report this beat` and the beat still counts. A host must not be able to fail its own liveness by sending nonsense. ",
        "operationId": "runner_heartbeat",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HeartbeatResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me/leases": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Poll for the next lease",
        "description": "The poll a runner lives on. Answers either a lease to run or a backoff to wait out. The claim, the money, the gates and the policy are all decided before the answer is written. ",
        "operationId": "runner_lease",
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me/leases/{lease_id}/activity": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Publish live-tail activity frames",
        "description": "Frames for the workspace event stream. Answers 202 rather than 200: the frame is accepted for publication, and a subscriber reading it is a separate event from this call returning. ",
        "operationId": "runner_publish_activity",
        "parameters": [
          {
            "name": "lease_id",
            "in": "path",
            "description": "`UUIDv7` of the lease.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivityRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "Accepted for publication; a subscriber reading it is a separate event"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me/leases/{lease_id}/renew": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Extend a live lease",
        "description": "A run buying more time before its lease expires. The body is optional. A body that will not parse is refused rather than read as an empty one. A renewal asserts progress, and an unreadable assertion is not one. ",
        "operationId": "runner_renew_lease",
        "parameters": [
          {
            "name": "lease_id",
            "in": "path",
            "description": "`UUIDv7` of the lease.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RenewResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me/memory/{fleet_id}": {
      "get": {
        "tags": [
          "Memory"
        ],
        "summary": "Load what a fleet remembers",
        "description": "The memory a fleet carries between runs, read at the start of one. The runner names the fleet, and the lease it holds is what makes that name legitimate. ",
        "operationId": "runner_hydrate_memory",
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "description": "`UUIDv7` of the fleet.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryHydrateResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Memory"
        ],
        "summary": "Capture what a fleet learned",
        "description": "Writes back what the run decided is worth keeping. The reply names what was stored and what was skipped, so a runner learns which of its entries did not survive the bounds. ",
        "operationId": "runner_capture_memory",
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "description": "`UUIDv7` of the fleet.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MemoryPushRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemoryCaptureResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/runners/me/reports": {
      "post": {
        "tags": [
          "Runners"
        ],
        "summary": "Report the result of one run",
        "description": "The terminal result of one lease. A report from a holder the fleet has already superseded is refused by the fence and writes nothing. A stale writer therefore cannot land a partial finalize on the current holder's run. ",
        "operationId": "runner_report",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/tenants/me/billing": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Read the tenant balance",
        "description": "Returns the balance shared by every workspace in the tenant. The response also shows whether the balance is empty. ",
        "operationId": "get_tenant_billing",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Token from `next_cursor` in the previous response. Omit it for the first page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return. The default is 50. Valid values are 1 through 200.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/tenants/me/billing/charges": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "List tenant charges",
        "description": "Returns charge records with the newest record first. Use `limit` and `cursor` to read more records. ",
        "operationId": "get_tenant_billing_charges",
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "description": "Token from `next_cursor` in the previous response. Omit it for the first page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records to return. The default is 50. Valid values are 1 through 200.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChargesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/tenants/me/models": {
      "get": {
        "tags": [
          "Tenant"
        ],
        "summary": "List the tenant's model registry",
        "description": "One entry per configured model; two entries can share a `secret_ref`. Each entry is joined to its secret's non-secret metadata (provider, kind, base_url, has_key) — `api_key` is never serialised. `active` is computed against the tenant's current provider selection (`GET /v1/tenants/me/provider`). The response is a bounded page ordered by `created_at` descending, then `id` descending. Page forward by sending the response's `next_cursor` back as `starting_after`; a `null` `next_cursor` is the last page. Cursors are bound to the tenant and the `limit` that produced them, so changing `limit` mid-pagination requires starting from the first page again. ",
        "operationId": "list_tenant_model_entries",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelEntriesResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Tenant"
        ],
        "summary": "Register a model entry",
        "description": "Creates one `(model_id, secret_ref)` row. `secret_ref` must already name a vault secret in the tenant's primary workspace — store or reuse one via `/v1/workspaces/{workspace_id}/secrets` first. Does not activate the entry; activate via `PUT /v1/tenants/me/provider`. ",
        "operationId": "create_tenant_model_entry",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateModelEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredModelEntry"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/tenants/me/models/{id}": {
      "delete": {
        "tags": [
          "Tenant"
        ],
        "summary": "Remove a model entry",
        "description": "Idempotent — deleting an id that doesn't exist (already removed, or never existed) still returns 204. The referenced vault secret is never touched; sibling entries sharing it survive. ",
        "operationId": "delete_tenant_model_entry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Tenant"
        ],
        "summary": "Change a model entry's model_id",
        "description": "Model-only change; `secret_ref` is immutable on this endpoint — create a new entry to point at a different secret. ",
        "operationId": "update_tenant_model_entry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "`UUIDv7` of the resource.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateModelEntryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StoredModelEntry"
                }
              }
            }
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "409": {
            "description": "The request conflicts with the resource's current state"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/tenants/me/provider": {
      "get": {
        "tags": [
          "Tenant"
        ],
        "summary": "Read tenant model provider settings",
        "description": "Returns the tenant's provider mode, provider name, model, context limit, and credential reference. Secret values are never returned. ",
        "operationId": "get_tenant_provider",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "put": {
        "tags": [
          "Tenant"
        ],
        "summary": "Set tenant model provider",
        "description": "Sets the provider mode and model. Self-managed mode requires a `credential_ref` that names an existing secret. If the model entry does not exist, this request creates it. ",
        "operationId": "put_tenant_provider",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TenantProviderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Tenant"
        ],
        "summary": "Reset tenant LLM provider to platform default",
        "description": "Equivalent to `PUT {mode: \"platform\"}`. Writes the explicit mode=platform row so the dashboard can distinguish \"never configured\" from \"explicitly reset\". ",
        "operationId": "delete_tenant_provider",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TenantProviderResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/tenants/me/workspaces": {
      "get": {
        "tags": [
          "Workspaces"
        ],
        "summary": "List the tenant's workspaces",
        "description": "Returns a stable oldest-first cursor page of workspaces owned by the caller's authoritative tenant. Pass `starting_after` from `next_cursor` to continue. The optional `name` filter uses exact equality and supports reconciliation after an uncertain workspace- create response. ",
        "operationId": "list_tenant_workspaces",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "Exact tenant-scoped workspace name.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "starting_after",
            "in": "query",
            "description": "Cursor returned as `next_cursor` by the previous page.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "How many rows to return.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkspacesResponse"
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "403": {
            "description": "The credential is good and lacks the capability this route requires"
          },
          "500": {
            "description": "The daemon failed to answer"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/v1/webhooks/svix/{fleet_id}": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Receive a signed Svix event",
        "description": "Receives a signed Svix event for one fleet. A valid new event returns 202. A duplicate or an event for a paused fleet returns 200. ",
        "operationId": "receive_svix_webhook",
        "parameters": [
          {
            "name": "fleet_id",
            "in": "path",
            "description": "`UUIDv7` of the fleet.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-id",
            "in": "header",
            "description": "Svix message identifier (used for deduplication and signature binding).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-timestamp",
            "in": "header",
            "description": "Unix timestamp of the Svix delivery (used for replay protection).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "svix-signature",
            "in": "header",
            "description": "Space-separated list of Svix signatures (v1 scheme).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted for publication; a subscriber reading it is a separate event"
          },
          "400": {
            "description": "The request could not be read"
          },
          "401": {
            "description": "No credential, or one this route does not accept"
          },
          "404": {
            "description": "No such resource, or none this caller may see"
          },
          "500": {
[...]
